<template>
  <div>
    <div class="row" v-if="errorText">
      <span style="margin-left: 100px">{{this.errorText}}</span>
    </div>
    <div class="row" v-else-if="isLink">
      <span style="margin-left: 100px">Redirecting...</span>
    </div>
    <video
      v-else
      controls
      autoplay
      name="media"
      :src="videoUrl"
      style="width: 100%; height: 650px; background-color: black"
    ></video>
    <div class="container" style="margin-top:10px">
      <div v-if="!errorText && !isLink">
        <div class="row">
          <div style="margin-top: 20px; font-size: 20px">{{this.videoInfo.FILENAME}}</div>
        </div>

        <div class="row">
          <div style="margin-top: 10px; font-size: 15px">Company: {{this.videoInfo.COMPANY_NAME}}</div>
        </div>
        <div class="row">
          <div
            style="margin-top: 10px; font-size: 15px"
          >Department: {{this.videoInfo.DEPARTMENT_NAME}}</div>
        </div>
        <div class="row">
          <div style="margin-top: 10px; font-size: 15px">Upload by: {{this.videoInfo.UPLOADER_NAME}}</div>
        </div>
        <div class="row">
          <div style="margin-top: 10px; font-size: 15px">Date: {{this.videoInfo.UPLOADDATE_TEXT}}</div>
        </div>
        <div class="row">
          <el-input class="col-9" style="margin-top: 10px; margin-bottom: 50px" v-model="videoUrl">
            <el-button ref="btn" slot="append" icon="document" @click="doCopy">Copy</el-button>
          </el-input>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  layout: "default",
  auth: false,
  data() {
    return {
      videoInfo: undefined,
      videoUrl: "",
      errorText: "",
      isLink: true
    };
  },
  async asyncData(context) {
    var videoId = context.params.videoid;
    if (!videoId) return {};
    // console.info(1);
    var fileInfoResponse = await context.$axios.get(
      "pkvideos/" + videoId + "/info",
      {}
    );
    // console.info("response = ");
    // console.info(fileInfoResponse);
    var errorLog = "";
    if (!fileInfoResponse.data.IsSuccess) {
      errorLog = fileInfoResponse.data.Log;
    }
    return {
      videoInfo: fileInfoResponse.data.Result,
      videoUrl: fileInfoResponse.data.Result
        ? fileInfoResponse.data.Result.URL
        : "",
      errorText: errorLog,
      isLink: fileInfoResponse.data.Result
        ? fileInfoResponse.data.Result.FILETYPE === "link"
        : false
    };
  },
  computed: {
    ...mapGetters(["loggedInUser"])
  },
  created() {
    // console.log("errorText = " + this.errorText);
    if (this.videoInfo && this.videoInfo.FILETYPE === "link")
      window.location = this.videoInfo.FILEPATH;
    // console.log(mapGetters(["loggedInUser"]));
  },
  methods: {
    doCopy() {
      this.$copyText(this.videoUrl);
    }
  }
};
</script>
