<template>
  <div class="client-review">
    <div class="client-review-header">
      <div class="client-picture">
        <div v-if="agentReview['reviewer-picture-url' ]" class="client-picture-circle">
          <img v-bind:src="agentReview['reviewer-picture-url']" alt="Profile picture" />
        </div>
        <div v-else class="circle"></div>
      </div>
      <div class="client-profile">
        <div class="client-profile-name">{{ agentReview['reviewer-first-name'] }}</div>
        <div>
          {{ transactionMonth }}<br />
          {{ propertyDetails }}<br />
          {{ timeToTransact }}
        </div>
      </div>
    </div>
    <p class="client-review-text">{{ agentReview['overall-experience-description'] }}</p>
  </div>
</template>

<script>
export default {
  // Props
  props: ['agentReview'],

  // Computed data
  computed: {
    // Return the transaction month
    transactionMonth: function() {
      // Verify that the transaction date is known
      if (undefined === this.agentReview['transaction-date'])
        return "";

      // Verify that the transaction date is valid
      if (isNaN(this.agentReview['transaction-date'][0]))
        return "";

      // Return the transaction month
      var monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September',
        'October', 'November', 'December'
      ];
      return monthNames[this.agentReview['transaction-date'][1] - 1] + ' ' +
        this.agentReview['transaction-date'][0];
    },

    // Return the property details (property type, region, transaction range).
    propertyDetails: function() {
      // Retrieve the property details
      var propertyDetails = [this.propertyType, this.propertyRegion, this.transactionRange];
      propertyDetails = propertyDetails.filter(function(detail) {
        return undefined !== detail;
      });

      // Retrieve the property details
      return propertyDetails.join(", ");
    },

    // Retrieve the property region
    propertyRegion: function() {
      // Return the property region
      switch (this.agentReview['property-region']) {
        case 'central':
          return "Central";
        case 'east':
          return "East";
        case 'north':
          return "North";
        case 'west':
          return "West";
        case 'north-east':
          return "North-East";
        default:
          return undefined;
      }
    },

    // Retrieve the property type
    propertyType: function() {
      // Return the property type
      switch (this.agentReview['property-type']) {
        case 'hdb':
          return "HDB";
        case 'condo':
          return "Condo";
        case 'landed-house':
          return "Landed house";
        case 'other':
          return "Other type";
        default:
          return undefined;
      }
    },

    // Retrieve the transaction range
    transactionRange: function() {
      // Verify that the transaction is known
      if (isNaN(this.agentReview['property-transaction-price']))
        return undefined;

      // Compute the transaction range
      var isRenting = ((this.agentReview['transaction-service-type'] === 'rent') ||
        (this.agentReview['transaction-service-type'] === 'rent-out'));
      var divider = isRenting ? 500 : 1;
      var rangeValues = [0, 500000, 1000000, 2000000, 3000000, 4000000, 5000000, 10000000, 20000000];
      for (var i = 1; i < rangeValues.length; i++) {
        if (this.agentReview['property-transaction-price'] <= rangeValues[i] / divider) {
          var startRange = rangeValues[i - 1] / divider;
          var endRange = rangeValues[i] / divider;
          break;
        }
      }

      // Return the transaction range if there is one
      if (undefined !== startRange)
        return this.toDollarString(startRange) + "-" + this.toDollarString(endRange) +
          (isRenting ? "/month" : "");

      // Return the maximum amount otherwise
      return this.toDollarString(rangeValues[rangeValues.length - 1]) +
        (isRenting ? "+/month" : "+");
    },

    // Return the time to transact
    timeToTransact: function() {
      // Verify that the time to transact is known
      if (isNaN(this.agentReview['time-to-transact']))
        return "";

      // Retrieve the transaction verb
      var transactionVerb;
      switch (this.agentReview['transaction-service-type']) {
        case 'sell':
          transactionVerb = "Sold";
          break;
        case 'buy':
          transactionVerb = "Bought";
          break;
        case 'rent':
          transactionVerb = "Rented";
          break;
        case 'rented-out':
          transactionVerb = "Rented out";
          break;
        default:
          transactionVerb = "Transaction done";
          break;
      }

      // Return the time to transact
      return transactionVerb + " in " + this.toShortDuration(this.agentReview['time-to-transact']);
    }
  },

  // Methods
  methods: {
    // Convert a number into a dollar string
    toDollarString: function(number) {
      // Verify that the number is a number
      if (isNaN(number))
        return "";

      // Return the dollar amount
      if (number < 1000)
        return "$" + number;
      if (number < 1000000)
        return "$" + Math.round(number / 1000) + "K";
      return "$" + Math.round(number / 1000000) + "M";
    },

    // Convert a number of days into a shorter name
    toShortDuration: function(dayCount) {
      // Return the number of days if it's smaller than 5 weeks
      if (dayCount < 35)
        return dayCount + " days";

      // Return the number of weeks if it's smaller than 10 weeks
      if (dayCount < 70)
        return Math.round(dayCount / 7) + " weeks";

      // Return the number of months if it's smaller than 50 months
      if (dayCount < 1500)
        return Math.round(dayCount / 30) + " months";

      // Return the number of years otherwise
      return Math.round(dayCount / 365) + " years";
    }
  }
}
</script>
