<template>
  <div class="container agent-tile">
    <div class="col-sm-3 tile-title">
      {{ agentReviewTitle }}
    </div>
    <div v-if="isReadOnly" class="col-sm-6 col-xs-11">
      <table v-if="averageRatings">
        <tr class="star-rating-overall">
          <td class="star-rating-overall-title-cell">Overall</td>
          <td>
            <span-star-rating-view v-bind:ratingValue="averageRatings['overall-experience-rating']">
            </span-star-rating-view>
          </td>
        </tr>
        <tr>
          <td class="star-rating-title-cell">Negotiation skills</td>
          <td>
            <span-star-rating-view v-bind:ratingValue="averageRatings['negotiation-skills-rating']">
            </span-star-rating-view>
          </td>
        </tr>
        <tr>
          <td class="star-rating-title-cell">Local knowledge</td>
          <td>
            <span-star-rating-view v-bind:ratingValue="averageRatings['local-knowledge-rating']">
            </span-star-rating-view>
          </td>
        </tr>
        <tr>
          <td class="star-rating-title-cell">Relevant experience</td>
          <td>
            <span-star-rating-view v-bind:ratingValue="averageRatings['relevant-experience-rating']">
            </span-star-rating-view>
          </td>
        </tr>
        <tr>
          <td class="star-rating-title-cell">Communication</td>
          <td>
            <span-star-rating-view v-bind:ratingValue="averageRatings['communication-rating']">
            </span-star-rating-view>
          </td>
        </tr>
        <tr>
          <td class="star-rating-title-cell">Availability</td>
          <td>
            <span-star-rating-view v-bind:ratingValue="averageRatings['availability-rating']">
            </span-star-rating-view>
          </td>
        </tr>
        <tr>
          <td class="star-rating-title-cell">Friendliness</td>
          <td>
            <span-star-rating-view v-bind:ratingValue="averageRatings['friendliness-rating']">
            </span-star-rating-view>
          </td>
        </tr>
      </table>
      <div v-for="agentReview in agentReviews">
        <agent-client-review-view v-bind:agentReview="agentReview"></agent-client-review-view>
      </div>
    </div>
    <div v-else class="col-sm-6 col-xs-11">
      <p v-if="secret">
        You can invite your previous clients to write reviews by either sharing the link below with them: 
        <router-link v-bind:to="addReviewPath">{{ addReviewUrl }}</router-link>
      </p>
    </div>
  </div>
</template>

<script>
import AgentClientReviewView from '~/components/agent/profile/AgentClientReviewView.vue';
import SpanStarRatingView from '~/components/SpanStarRatingView.vue';
import { getAxiosAirlisting } from '~/plugins/axios-airlisting';
import { captureException } from '~/plugins/error-logger';

export default {
  // Components
  components: {
    AgentClientReviewView,
    SpanStarRatingView
  },

  // Props
  props: ['username', 'auth0UserId', 'isReadOnly'],

  // Data
  data: function() {
    return {
      agentReviews: undefined,
      averageRatings: undefined,
      axiosAirlisting: getAxiosAirlisting(this.$router),
      secret: undefined
    }
  },

  // Computed data
  computed: {
    // The title for the agent review section
    agentReviewTitle: function() {
      // Return Reviews if the reviews have not been downloaded
      if (undefined === this.agentReviews)
        return "Reviews";

      // Return No Reviews if there is no reviews
      if (0 === this.agentReviews.length)
        return "No Reviews";

      // Return the number of reviews otherwise
      return this.agentReviews.length + " Reviews";
    },

    // Return the path to add a review
    addReviewPath: function() {
      return '/a/' + this.username.replace('_', '-') + '/addReview/introduction?hash=' + this.secret;
    },

    // Return the url to add a review
    addReviewUrl: function() {
      return window.location.protocol + '//' + window.location.host + this.addReviewPath;
    }
  },

  // Watch
  watch: {
    // Update the agent reviews
    'auth0UserId': function(value) {
      this.retrieveAgentReviews();
    }
  },

  // Retrieve the agent reviews
  created: function() {
    // Retrieve the agent reviews
    this.retrieveAgentReviews();

    // Retrieve the secret code for the review url
    if (!this.isReadOnly)
      this.retrieveSecret();
  },

  // Methods
  methods: {
    // Retrieves the agent reviews
    retrieveAgentReviews: function() {
      // Check that the Auth0 user id has been defined
      if (undefined === this.auth0UserId)
        return;

      // Retrieve the reviews
      var self = this;
      this.axiosAirlisting.get('/agentReview?auth0UserId=' + encodeURIComponent(this.auth0UserId))
        .then(function(response) {
          self.agentReviews = response.data.filter(function(agentReview) {
            return (undefined !== agentReview['overall-experience-description']) &&
              (null !== agentReview['overall-experience-description']);
          });
          if (0 === self.agentReviews.length) {
            self.averageRatings = undefined;
            return;
          }
          self.averageRatings = {
            "overall-experience-rating": self.computeAverageRating("overall-experience-rating"),
            "negotiation-skills-rating": self.computeAverageRating("negotiation-skills-rating"),
            "local-knowledge-rating": self.computeAverageRating("local-knowledge-rating"),
            "relevant-experience-rating": self.computeAverageRating("relevant-experience-rating"),
            "communication-rating": self.computeAverageRating("communication-rating"),
            "availability-rating": self.computeAverageRating("availability-rating"),
            "friendliness-rating": self.computeAverageRating("friendliness-rating")
          }
        })
        .catch(function(error) {
          if ((undefined === error.response) && (404 !== error.response.status))
            captureException(error);
          else {
            self.agentReviews = [];
            self.averageRatings = undefined;
          }
        });
    },

    // Retrieve the secret code for the review url
    retrieveSecret: function() {
      // Retrieve the reviews
      var self = this;
      this.axiosAirlisting.get("/agent/generateReviewCode?auth0UserId=" + encodeURIComponent(this.auth0UserId))
        .then(function(response) {
          self.secret = response.data;
        })
        .catch(function(error) {
          captureException(error);
        });
    },

    // Compute the average of ratings
    computeAverageRating: function(ratingName) {
      // Retrieve the numbers
      var numbers = this.agentReviews.map(function(agentReview) {
        return agentReview[ratingName];
      }).filter(function(rating) {
        return !isNaN(rating) && rating > 0;
      });

      // Verify that there is at least one number
      if (undefined === numbers || 0 === numbers.length)
        return undefined;

      // Return the average
      var sum = numbers.reduce(function(firstNumber, secondNumber) {
        return firstNumber + secondNumber;
      });
      return Math.floor(sum / numbers.length);
    }
  }

}
</script>