<template>
  <div class="container agent-tile">
    <div v-if="mode=='view' || mode=='read-only'" class="col-sm-3 tile-title">
      Introduction
    </div>
    <div v-if="mode=='view' || mode=='read-only'" class="col-sm-6 col-xs-11 agent-introduction-text">
      <p>{{ agentIntroduction.introduction }}</p>
    </div>
    <div v-if="mode=='view'" class="col-xs-1 col-sm-offset-2 no-padding">
      <div class="edit-button">
        <button class="button-default" v-on:click="editAgentIntroduction">Edit</button>
      </div>
    </div>
    <div v-if="mode=='edit-agent-introduction'" class="col-sm-6 col-sm-offset-3">
      <div class="form-group">
        <label for="input-agent-introduction" class="control-label">Introduction</label>
        <textarea class="form-control" rows="10" id="input-agent-introduction" placeholder="Hi, my name is ..."
          name="agent-introduction" v-model="inputAgentIntroduction['introduction']"></textarea>
      </div>
      <div class="form-group">
        <button type="button" class="button-primary" v-on:click="saveAgentIntroduction">Save</button>
        <button type="button" class="button-default" v-on:click="cancelEdition">Cancel</button>
      </div>
    </div>
  </div>
</template>

<script>
import { getAxiosAirlisting } from '~/plugins/axios-airlisting';
import { captureException } from '~/plugins/error-logger';

export default {
  // Props
  props: ['username', 'auth0UserId', 'isReadOnly'],

  // Data
  data: function() {
    return {
      agentIntroduction: {
        username: this.username,
        'auth0-user-id': this.auth0UserId
      },
      axiosAirlisting: getAxiosAirlisting(this.$router),
      inputAgentIntroduction: {},
      mode: this.isReadOnly ? 'read-only' : 'view'
    };
  },

  // Watch
  watch: {
    // Update the agent introduction
    'auth0UserId': function(value) {
      this.retrieveAgentIntroduction();
    }
  },

  // Retrieve the data
  created: function() {
    // Retrieve the data
    this.retrieveAgentIntroduction();
  },

  // Methods
  methods: {
    // Retrieves the introduction of the agent
    retrieveAgentIntroduction: function() {
      // Check if the auth0 user id is defined
      if (undefined === this.auth0UserId)
        return;

      // Retrieve the introduction
      var self = this;
      this.axiosAirlisting.get('/agentIntroduction?auth0UserId=' + encodeURIComponent(this.auth0UserId))
        .then(function(response) {
          self.agentIntroduction = response.data[0];
        })
        .catch(function(error) {
          // Create the introduction if it does not exist
          if ((undefined !== error.response) && (404 === error.response.status) && !self.isReadOnly) {
            self.agentIntroduction['introduction'] = "Hi, I'm a real estate agent."
            self.axiosAirlisting.post('/agentIntroduction', self.agentIntroduction)
              .then(function(postResponse) {
                self.agentIntroduction = postResponse.data;
              })
              .catch(function(postError) {
                captureException(postError);
              });
          } else
            captureException(error);
        });
    },

    // Edit the agent introduction
    editAgentIntroduction: function() {
      this.inputAgentIntroduction['introduction'] = this.agentIntroduction['introduction'];
      this.mode = 'edit-agent-introduction';
    },

    // Save the agent introduction
    saveAgentIntroduction: function() {
      // Update the agent introduction
      this.agentIntroduction['introduction'] = this.inputAgentIntroduction['introduction'];
      this.mode = 'view';

      // Save the agent
      var self = this;
      this.axiosAirlisting.put(
        '/agentIntroduction/' + this.agentIntroduction['id'],
        this.agentIntroduction)
        .then(function(postResponse) {
          self.agentIntroduction = postResponse.data;
        })
        .catch(function(postError) {
          captureException(postError);
        });
    },

    // Cancel the edition
    cancelEdition: function() {
      this.mode = 'view';
    }
  }
}
</script>
