<template>
  <div class="autocomplete" v-bind:class="{ open: isDropdownOpen }">    
    <input type="text" class="transparent-input" v-bind:placeholder="placeholderValue" name="autocomplete-input" 
      v-model="inputValue" v-on:focus="addFocusFlag" v-on:blur="removeFocusFlag">
    <ul class="dropdown-menu">
      <li v-for="(option, index) in displayedOptions">
        <a href="javascript:void(0);" v-on:click="updateSelection(index)">{{ option.value }}</a>
      </li>
    </ul>
 </div>
</template>

<script>
export default {
  // Props
  props: {
    'options': {
      type: Array,
      required: true
    },
    'placeholderValue': {
      type: String
    },
    'selectedValue': {
      type: String
    }
  },

  // Computed data:
  computed: {
    // Return whether the dropdown should be opened
    isDropdownOpen: function() {
      return this.hasFocus && (undefined !== this.inputValue) && ("" !== this.inputValue) &&
        (this.selectedValue !== this.inputValue) && (undefined !== this.displayedOptions) &&
        (this.displayedOptions.length > 0);
    },

    // Return the displayed options
    displayedOptions: function() {
      // Check that the options have been defined
      if (undefined === this.options)
        return [];

      // Return the displayed options
      var self = this;
      return this.options.map(function(option, index) {
        return {
          value: option,
          index: index
        };
      }).filter(function(option) {
        // Return true if there is no input value
        if (undefined === self.inputValue)
          return true;

        // Return true if the option contains the text of the input value
        return -1 !== option.value.toLowerCase().indexOf(self.inputValue.toLowerCase());
      }).slice(0, 5);
    }
  },

  // Data
  data: function() {
    return {
      inputValue: this.selectedValue,
      hasFocus: false
    };
  },

  // Watch
  watch: {
    // Update the input value
    'selectedValue': function(value) {
      if (undefined !== this.selectedValue)
        this.inputValue = this.selectedValue;
    }
  },

  // Methods
  methods: {
    // Add the focus flag
    addFocusFlag: function() {
      this.hasFocus = true;
    },

    // Remove the focus flag
    removeFocusFlag: function() {
      var self = this;
      setTimeout(
        function() {
          self.hasFocus = false;
        },
        50);
    },

    // Update the selected item
    updateSelection: function(index) {
      this.$emit("updateIndex", this.displayedOptions[index].index);
    }
  }
}
</script>