<template>
  <div class="navbar navbar-default navbar-fixed-top darkco">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#header-navbar-collapse"
          aria-expanded="false"
        >
          <span class="icon-bar wco"></span>
          <span class="icon-bar wco"></span>
          <span class="icon-bar wco"></span>
        </button>
        <nuxt-link class="navbar-item" style="color: white" to="/">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" class="navbar-brand logo-header" data-name="Layer 1" alt="Logo" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 531 115" style="enable-background:new 0 0 531 115;" xml:space="preserve"><style type="text/css">.st0{fill:#D31621;}.st1{fill:#FFFFFF;}</style><title>PKMedia</title><rect class="st0" width="156.6" height="115"/><g><path class="st1" d="M106.1,51.9c-4.9,0-7.7,2.4-7.6,6.3s2.7,5.9,7.6,5.9c4.6,0,7.7-2.2,7.8-5.8C113.9,54.5,110.8,51.9,106.1,51.9z"/><path class="st1" d="M34.8,26c2.6,0.1,5.3,0,7.9,0c2.9,0,5.9,0.2,8.8,0c3.5-0.2,6.2-1.7,6.5-5.7c0.3-3.7-1.7-6.3-6-6.5c-5.8-0.4-11.7-0.4-17.5-0.2c-4,0.2-6.7,3.1-6.4,6.4C28.4,24.1,31,25.9,34.8,26z"/><path class="st1" d="M53,62.4c-6.4-0.2-12.8-0.2-19.3,0c-3.5,0.1-5.8,2.4-5.8,6s2.3,5.7,5.8,6c3,0.3,6.1,0.1,9.2,0.1v-0.1c3.4,0,6.7,0.3,10.1-0.1s5.3-2.6,5.3-6S56.4,62.6,53,62.4z"/><path class="st1" d="M19.8,66.3c-3.5,0-6.3,2.8-6.3,6.3v22.7c0.1,3.5,3.1,6.2,6.6,6.1c3.3-0.1,5.9-2.8,6.1-6.1V72.6C26.1,69.1,23.2,66.3,19.8,66.3z"/><path class="st1" d="M90.6,61.8c-3.5,0-6.3,2.8-6.3,6.3l0,0v27.2c0.1,3.5,3.1,6.2,6.6,6.1c3.3-0.1,5.9-2.8,6.1-6.1V68.2C96.9,64.7,94.1,61.8,90.6,61.8z"/><path class="st1" d="M126.2,69c-2-2.9-5.9-3.6-8.8-1.6s-3.6,5.9-1.6,8.8c0,0.1,0.1,0.1,0.1,0.2L131.7,99c2,2.8,6,3.5,8.8,1.5s3.5-6,1.5-8.8l0,0L126.2,69z"/><path class="st1" d="M19.8,21.3c-3.5,0-6.3,2.8-6.3,6.3V57c0.1,3.5,3.1,6.2,6.6,6.1c3.3-0.1,5.9-2.8,6.1-6.1V27.6C26.1,24.1,23.2,21.3,19.8,21.3z"/><path class="st1" d="M66.7,21.3c-3.5,0-6.3,2.8-6.3,6.3l0,0V57c0,3.5,2.8,6.3,6.3,6.3S73,60.5,73,57l0,0V27.6C73,24.1,70.2,21.3,66.7,21.3z"/><path class="st1" d="M90.6,13.5c-3.5,0-6.3,2.8-6.3,6.3v29.5c-0.1,3.5,2.6,6.4,6.1,6.6s6.4-2.6,6.6-6.1c0-0.2,0-0.3,0-0.5V19.8C96.9,16.3,94.1,13.5,90.6,13.5z"/><path class="st1" d="M116.5,49.3c2.9,2,6.8,1.2,8.8-1.6l0,0L142,23.4c2-2.9,1.2-6.8-1.6-8.8c-2.9-2-6.8-1.2-8.8,1.6l0,0l-16.7,24.3C112.9,43.3,113.7,47.3,116.5,49.3z"/></g><g><path class="st1" d="M261.4,92.5h-12.8V50.8l-22.5,39.6c-0.6,1-1.3,1.8-2.3,2.3c-1,0.5-2.1,0.8-3.2,0.8c-1.1,0-2.1-0.3-3.1-0.8c-1-0.5-1.7-1.3-2.3-2.3l-22.6-39.6v41.7h-12.7V27.9c0-1.5,0.4-2.8,1.3-3.9c0.9-1.1,2-1.9,3.4-2.3c0.7-0.2,1.4-0.2,2.1-0.2c0.7,0,1.3,0.2,2,0.4c0.6,0.2,1.2,0.6,1.7,1c0.5,0.4,1,1,1.3,1.6l28.9,50.2l28.9-50.2c0.7-1.2,1.8-2.1,3.1-2.6c1.3-0.5,2.7-0.6,4.1-0.2c1.4,0.4,2.5,1.2,3.4,2.3c0.9,1.1,1.3,2.4,1.3,3.9V92.5z"/><path class="st1" d="M339.4,92.5h-45.8c-1.8,0-3.7-0.3-5.8-0.9c-2.1-0.6-4-1.6-5.8-3.1c-1.8-1.4-3.3-3.3-4.4-5.5c-1.2-2.3-1.8-5-1.8-8.3V28.9c0-0.9,0.2-1.7,0.5-2.5c0.3-0.8,0.8-1.5,1.3-2.1c0.6-0.6,1.2-1,2-1.4c0.8-0.3,1.6-0.5,2.5-0.5h57.2v12.7h-50.9v39.5c0,1.7,0.4,2.9,1.3,3.8c0.9,0.9,2.2,1.3,3.9,1.3h45.7V92.5z M333.7,63.9h-40.1V51.1h40.1V63.9z"/><path class="st1" d="M421.6,63.2c0,4.3-0.7,8.2-2.2,11.8c-1.5,3.6-3.5,6.7-6.1,9.3c-2.6,2.6-5.7,4.6-9.3,6.1c-3.6,1.5-7.5,2.2-11.7,2.2H358c-0.9,0-1.8-0.2-2.5-0.5c-0.8-0.3-1.5-0.8-2-1.3c-0.6-0.6-1-1.2-1.3-2c-0.3-0.8-0.5-1.6-0.5-2.5V28.9c0-0.9,0.2-1.7,0.5-2.5c0.3-0.8,0.8-1.5,1.3-2.1c0.6-0.6,1.2-1,2-1.4c0.8-0.3,1.6-0.5,2.5-0.5h34.3c4.2,0,8.1,0.7,11.7,2.2c3.6,1.5,6.7,3.5,9.3,6.1c2.6,2.6,4.6,5.7,6.1,9.3c1.5,3.6,2.2,7.5,2.2,11.7V63.2z M408.9,51.8c0-2.5-0.4-4.7-1.2-6.8c-0.8-2.1-1.9-3.8-3.4-5.2c-1.5-1.4-3.2-2.6-5.2-3.4c-2-0.8-4.3-1.2-6.8-1.2h-28v44.6h28c2.5,0,4.7-0.4,6.8-1.2c2-0.8,3.8-1.9,5.2-3.4c1.5-1.4,2.6-3.2,3.4-5.2c0.8-2,1.2-4.3,1.2-6.8V51.8z"/><path class="st1" d="M446.8,92.5h-12.7v-70h12.7V92.5z"/><path class="st1" d="M530.4,92.5h-12.7V75.3H473v17.2h-12.7v-35c0-5.1,0.9-9.8,2.6-14.1c1.8-4.3,4.2-8,7.3-11.1c3.1-3.1,6.8-5.5,11.1-7.2c4.3-1.7,8.9-2.6,14-2.6H524c0.9,0,1.7,0.2,2.5,0.5c0.8,0.3,1.5,0.8,2.1,1.4c0.6,0.6,1,1.3,1.4,2.1c0.3,0.8,0.5,1.6,0.5,2.5V92.5z M473,62.6h44.6V35.2h-22.3c-0.4,0-1.2,0.1-2.5,0.2c-1.3,0.1-2.7,0.4-4.3,0.9c-1.6,0.5-3.4,1.2-5.2,2.1c-1.8,0.9-3.5,2.2-5,3.9c-1.5,1.7-2.8,3.7-3.8,6.2c-1,2.5-1.5,5.5-1.5,9.1V62.6z"/></g></svg>
        </nuxt-link>
      </div>

      <div class="collapse navbar-collapse" id="header-navbar-collapse">
        <el-menu
          :default-active="active"
          class="el-menu-demo"
          mode="horizontal"
          background-color="inherit"
          active-text-color="#6094de"
        >
          <el-menu-item class="tag-menu" index="1">
            <nuxt-link to="/">Home</nuxt-link>
          </el-menu-item>
          <el-menu-item class="tag-menu" index="2">
            <nuxt-link to="/gallery">Gallery</nuxt-link>
          </el-menu-item>
          <el-submenu class="tag-menu" index="3" v-if="isAuthenticated">
            <template slot="title">Manage videos</template>
            <el-menu-item index="3-1" class="sub-tag-menu">
              <nuxt-link class="menu-level-2 full-width-link" to="/uploadvideo">Upload</nuxt-link>
            </el-menu-item>
            <el-menu-item index="3-2" class="sub-tag-menu">
              <nuxt-link class="menu-level-2 full-width-link" to="/myvideo">My videos</nuxt-link>
            </el-menu-item>
          </el-submenu>
          <el-submenu class="tag-menu" index="4" v-if="isAuthenticated">
            <template slot="title">Style files</template>
            <el-menu-item index="4-1">
              <nuxt-link class="menu-level-2 full-width-link" to="/manage-style/upload">Style and Kaizen</nuxt-link>
            </el-menu-item>
            <!-- <el-menu-item index="4-2">
              <nuxt-link
                class="menu-level-2 full-width-link"
                to="/manage-style/list-video"
              >List videos</nuxt-link>
            </el-menu-item> -->
          </el-submenu>
          <el-menu-item class="tag-menu" index="5" v-if="roleId == '9100'">
            <nuxt-link to="/setups/setup">Setups</nuxt-link>
          </el-menu-item>
          <!-- <el-menu-item index="5" v-if="isAuthenticated">
                <nuxt-link to="/users/user">User</nuxt-link>
          </el-menu-item>-->
          <el-menu-item class="tag-menu searchbg">
            <a href="#" class="navbar-item" @click="clickIconSearch()">
              <i class="el-icon-search"></i>
            </a>
          </el-menu-item>
          <el-submenu class="tag-menu logoutbg" index="1">
            <template slot="title">
              <i class="el-icon-user"></i>
            </template>
            <el-menu-item>
              <a
                href="#"
                class="menu-level-2 full-width-link"
                @click="logout"
                v-if="isAuthenticated"
              >Logout</a>
              <a href="#" class="menu-level-2 full-width-link" @click="login" v-else>Login</a>
            </el-menu-item>
          </el-submenu>
        </el-menu>
      </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { EventBus } from "eventbus";


export default {
  computed: {
    ...mapGetters(["isAuthenticated", "loggedInUser", "displayMenuSetup"]),
    active() {
      return this.$store.state.store.active;
    }
  },
  created() {
    // console.log(this.$store.state);
    // console.log(this.$auth.loggedIn);
    // console.log(this.$auth.user.Result.RoleId);
    // console.log(isAuthenticated);
    this.handleActiveMenu();
    this.roleId = this.$auth.user.Result.RoleId;
    
  },
  data() {
    return {
      roleId: ""
    };
  },
  props: ["dialogVisible"],
  methods: {
    async login() {
      await this.$auth.logout();
      this.$router.push("/auth/login");
    },
    async logout() {
      this.roleId = "";
      this.$store.state.store.active = '1';
      await this.$auth.logout();
      this.$router.push("/");
    },
    clickIconSearch() {
      var dialog_visible = !this.dialogVisible;
      this.$emit("dialogFormVisible", dialog_visible);
    },
    // set default-active
    handleActiveMenu() {
      let path = window.location.pathname;
      if(path == '/setups/setup/') {
        this.$store.commit('store/setup')
      } else if(path == '/gallery/'){
        this.$store.commit('store/gallery')
      } else if(path == '/uploadvideo/'){
        this.$store.commit('store/upload')
      } else if(path == '/myvideo/'){
        this.$store.commit('store/myvideo')
      } else if(path == '/manage-style/upload/'){
        this.$store.commit('store/styleupload')
      } else if(path == '/manage-style/list-video/'){
        this.$store.commit('store/stylelistvideo')
      } else {
        this.$store.state.store.active = '1';
      }
    },

  }
};
</script>
<style>
#header-navbar-collapse ul {
  float: right;
}
/*#header-navbar-collapse .el-submenu__title i {
  font-weight: 600;
}*/
#header-navbar-collapse .el-submenu__title i:hover {
  color: #5697d0;
}
#header-navbar-collapse .el-menu.el-menu--horizontal {
  border-bottom: none;
}
#header-navbar-collapse .el-menu--horizontal > .el-menu-item a {
  text-decoration: none;
}
.is-active a {
  color: #5697d0 !important;
}
.is-active .el-submenu__title {
  color: #5697d0 !important;
}
.menu-level-2 {
  color: #e0e0e0 !important;
  text-decoration: none !important;
  background: #fff;
  padding-left: 10px;
  font-weight: 500;
  font-size: 13px;
}
.el-menu--popup {
  min-width: 140px;
}
.el-submenu__title {
  font-size: 13px;
  /* text-transform: capitalize; */
  font-weight: 600;
  color: inherit !important;
}
.el-menu-item {
  font-size: 13px;
  /* text-transform: capitalize; */
  font-weight: 600;
}
.logo-header {
  margin-top: 3px;
}
.full-width-link {
  width: 100%;
  display: inline-block;
}
.menu-level-2:hover {
  color: #5697d0 !important;
}
i.el-icon-search {
    color: #fff;
    margin-top: -7px;
}
i.el-icon-user {
    margin-top: -5px;
}
a.menu-level-2.full-width-link {
    background-color: #2c394a
}
</style>