<template>
  <div class="star-rating">                       
    <input type="radio" class="star-rating-input" v-bind:id="name + '-5'" 
      v-bind:name="name" value="5" v-model="inputRatingValue" v-on:click="updateRatingValue(5)">
    <label class="star-rating-icon star-rating-editable fa fa-star fa-lg" 
      v-bind:for="name + '-5'" title="5 out of 5 stars"></label>
    <input type="radio" class="star-rating-input" v-bind:id="name + '-4'"
      v-bind:name="name" value="4" v-model="inputRatingValue" v-on:click="updateRatingValue(4)">
    <label class="star-rating-icon star-rating-editable fa fa-star fa-lg" 
      v-bind:for="name + '-4'" title="4 out of 5 stars"></label>
    <input type="radio" class="star-rating-input" v-bind:id="name + '-3'" 
      v-bind:name="name" value="3" v-model="inputRatingValue" v-on:click="updateRatingValue(3)">
    <label class="star-rating-icon star-rating-editable fa fa-star fa-lg" 
      v-bind:for="name + '-3'" title="3 out of 5 stars"></label>
    <input type="radio" class="star-rating-input" v-bind:id="name + '-2'" 
      v-bind:name="name" value="2" v-model="inputRatingValue" v-on:click="updateRatingValue(2)">
    <label class="star-rating-icon star-rating-editable fa fa-star fa-lg" 
      v-bind:for="name + '-2'" title="2 out of 5 stars"></label>
    <input type="radio" class="star-rating-input" v-bind:id="name + '-1'" 
      v-bind:name="name" value="1" v-model="inputRatingValue" v-on:click="updateRatingValue(1)">
    <label class="star-rating-icon star-rating-editable fa fa-star fa-lg" 
      v-bind:for="name + '-1'" title="1 out of 5 stars"></label>
  </div>
</template>

<script>
export default {
  // Props
  props: ['name', 'ratingValue'],

  // Data
  data: function() {
    return {
      inputRatingValue: this.ratingValue
    }
  },

  // Watch
  watch: {
    // Update the input value
    'ratingValue': function(value) {
      if (undefined !== this.ratingValue)
        this.inputRatingValue = this.ratingValue;
    }
  },

  // Methods
  methods: {
    updateRatingValue: function(inputRatingValue) {
      this.$emit("updateRatingValue", inputRatingValue);
    }
  }
}
</script>