<template>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
          data-target="#header-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">
          <!-- <img v-if="isTextWhite" src="/images/logo/ZenEstateLogo_white.svg" alt="Logo"></img>
          <img v-else src="/images/logo/ZenEstateLogo.svg" alt="Logo"></img> -->
        </a>
      </div>
      <div class="collapse navbar-collapse" id="header-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <router-link to="/search">Find agents</router-link>
          </li>
          <li>
            <router-link to="/agentLogin">Are you an agent?</router-link>
          </li>
          <li>
            <router-link to="/about">About</router-link>
          </li>
          <li>
            <router-link to="/contactUs">Contact us</router-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // Props
  props: ['isTextWhite']
}
</script>
