<template>
  <div class="notification is-danger" style="color: red">
    {{ message }}
  </div>
</template>

<script>
export default {
  name: 'Notification',
  props: ['message']
}
</script>