<template>
  <div class="agent-result-pagination">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="javascript:void(0)" aria-label="Previous" class="btn" v-bind:class="{ disabled: !hasPrevious }"
            v-on:click="updatePage(currentPage - 1)">
          <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li v-for="page in displayedPages" 
          v-bind:class="{ active: (page === currentPage.toString()), disabled: (page === '...') }"
          v-on:click="updatePage(parseInt(page))">
          <a href="javascript:void(0)" class="btn">{{ page }}</a>
        </li>
        <li>
          <a href="javascript:void(0)" aria-label="Next" class="btn" v-bind:class="{ disabled: !hasNext }"
            v-on:click="updatePage(currentPage + 1)">
          <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  // Props
  props: ['currentPage', 'pageCount'],

  // Computed data
  computed: {
    // Whether the page has a previous page
    hasPrevious: function() {
      // Verify that the props have been defined
      if ((undefined === this.currentPage) || (undefined === this.pageCount))
        return false;

      // Return true if the current page is at least 2
      return (this.currentPage > 1);
    },

    // Whether the page has a next page
    hasNext: function() {
      // Verify that the props have been defined
      if ((undefined === this.currentPage) || (undefined === this.pageCount))
        return false;

      // Return true if the current page is smaller than the last page
      return (this.currentPage < this.pageCount);
    },

    // Return the pages to display
    displayedPages: function() {
      // Verify that the props have been defined
      if ((undefined === this.currentPage) || (undefined === this.pageCount) || (0 === this.pageCount))
        return [];

      // Return all the pages if there is less than 9 pages
      var pages = [];
      if (this.pageCount <= 9) {
        for (var i = 1; i <= this.pageCount; i++) {
          pages.push(i.toString());
        }
        return pages;
      }

      // Return the 7 first pages if the current page is in the first 7
      if (this.currentPage <= 7) {
        for (var j = 1; j <= 7; j++) {
          pages.push(j.toString());
        }
        pages.push('...');
        pages.push(this.pageCount.toString());
        return pages;
      }

      // Return the the last 7 pages if the current page is in the last 7
      if (this.pageCount - this.currentPage < 7) {
        pages.push("1");
        pages.push('...');
        for (var k = this.pageCount - 6; k <= this.pageCount; k++) {
          pages.push(k.toString());
        }
        return pages;
      }

      // Return the middle pages otherwise
      pages.push("1");
      pages.push('...');
      for (var l = this.currentPage - 2; l <= this.currentPage + 2; l++) {
        pages.push(l.toString());
      }
      pages.push('...');
      pages.push(this.pageCount.toString());

      // Return the pages to display
      return pages;
    }
  },

  // Methods
  methods: {
    // Update the current page
    updatePage: function(page) {
      this.$emit('updatePage', page);
    }
  }
}
</script>
