<template>
  <span class="star-rating">                       
    <span v-for="i in (5 - ratingValue)" class="star-rating-icon fa fa-star fa-lg"></span>
    <span v-for="i in ratingValue" class="star-rating-icon star-rating-checked fa fa-star fa-lg"></span>
  </span>
</template>

<script>
export default {
  // Props
  props: ['ratingValue']
}
</script>
