.navbar.navbar-default.navbar-fixed-top.darkco{
    background-color: #2c394a;
    /* opacity: 85%; */
    opacity: 0.85;
}
svg#Layer_1{
    padding: 1.2rem
}
li.tag-menu.logoutbg.el-submenu{
    background-color: #6094de
}
li.el-menu-item.tag-menu.searchbg{
    background-color: #34425a !important
}
div#header-navbar-collapse{
    font-family: montserrat;
    text-transform: uppercase
}
i.el-icon-s-grid{
    font-size: 22px;
    padding-bottom: 4px
}
svg.bi-chevron-left.mx-auto.b-icon.bi{
    font-size: 4rem
}
svg.bi-chevron-right.mx-auto.b-icon.bi{
    font-size: 4rem
}
b-col.abs{
    position: absolute;
    margin-left: 20px
}
button.navbar-toggle.collapsed{
    border: none
}
.navbar-default .navbar-toggle .icon-bar.wco{
    background-color: white
}
.el-table__body tr.current-row>td {
    background: linear-gradient( 86.02deg , rgb(25 116 171) 20%, rgb(4 82 129) 86.08%) !important;
    background: -webkit-linear-gradient( 86.02deg , rgb(25 116 171) 20%, rgb(4 82 129) 86.08%) !important;
    background: -moz-linear-gradient( 86.02deg , rgb(25 116 171) 20%, rgb(4 82 129) 86.08%) !important;
    background: -o-linear-gradient( 86.02deg , rgb(25 116 171) 20%, rgb(4 82 129) 86.08%) !important;
    color: white
}