<template>
  <div class="tree-comment">
    <div class="label-wrapper">
      <div class="comment-box" :style="indent">
        <span class="commenter-name" :class="labelClasses">
          <a href="#">{{ username }}</a> - 
          <span class="comment-time">{{ datecomment }}</span> &nbsp; &nbsp;
          <i v-if="nodes" class="fa" @click="toggleChildren" :class="iconClasses"></i> 
        </span>
        <p class="comment-txt more">{{ content }}</p>
        <div class="comment-meta">
          <button v-if="showDelEdit" class="comment-like" @click="handleDeleteComment(id)">
            <i class="fa fa-trash" aria-hidden="true" ></i> Delete
          </button>
          <button v-if="showDelEdit" class="comment-dislike"  @click="editComment(id)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
          </button>
          <button class="comment-reply reply-popup" @click="replyComment(commentId)">
            <i class="fa fa-reply-all" aria-hidden="true"></i> Reply
          </button>
        </div>
        <!-- form reply comment -->
        <div class="comment-box add-comment reply-box" :id="'reply-' + commentId">
          <span class="commenter-name">
            <textarea v-model="infoReply.content" type="text" placeholder="Add a reply" name="Add Comment" :rows="2"></textarea>
            <button type="submit" class="btn btn-default" @click="saveReplyComment(commentId)">Reply</button>
            <button type="cancel" class="btn btn-default reply-popup" @click="cancelReply(commentId)">Cancel</button>
          </span>
        </div>
        <!-- form edit comment -->
        <div class="comment-box add-comment reply-box" :id="'edit-' + id">
          <span class="commenter-name">
            <textarea v-model="infoEdit.content" type="text" name="Edit Comment" :rows="2"></textarea>
            <button type="submit" class="btn btn-default" @click="saveEditComment(id)">Edit</button>
            <button type="cancel" class="btn btn-default reply-popup" @click="cancelEdit(id)">Cancel</button>
          </span>
        </div>
      </div>
      
    </div>
    <!-- Recursive comment -->
    <tree-comment
      v-if="showChildren"
      v-for="node in nodes"
      :key="node.ID"
      :nodes="node.children"
      :content="node.CONTENT"
      :depth="depth + 0.03"
      :username="node.USERNAME"
      :datecomment="node.DATE_COMMENT"
      :commentId="node.COMMENTID"
      :id="node.ID"
      :fileId="node.FILEID"
      :registerId="node.REGISTERID"
      @add-comment="$emit('add-comment', $event)"
      @delete-comment="$emit('delete-comment', $event)"
      @edit-comment="$emit('edit-comment', $event)"
    ></tree-comment>
  </div>
</template>
<script>

export default {
  // props: ["content", "nodes", "username", "depth", "children", "datecomment", "commentId", "fileId", "id"],
  props: {
    content: String,
    depth: Number,
    username: String,
    children: Array,
    nodes: Array,
    author: Object,
    datecomment: String,
    addComment: Function,
    deleteComment: Function,
    commentId: String,
    fileId: String,
    id: Number,
    registerId: String
  },
  data() {
    return { 
      showChildren: true,
      videoId: this.fileId,
      infoReply: {
        content: "",
        parentId: null,
        privacy: "Public",
      },
      showBtnDelEdit: false,
      infoEdit: {
        id: null,
        content: "",
      },
    }
  },
  name: "tree-comment",
  
  computed: {
    iconClasses() {
      return {
        'fa-plus-square-o': !this.showChildren,
        'fa-minus-square-o': this.showChildren
      }
    },
    labelClasses() {
      return { 'has-children': this.nodes }
    },
    indent() {
      return { 
        // set comment lui vao trong
        // transform: `translate(${this.depth * 50}px)`,
        transform: `scale(${1 - this.depth}, 1)`,
        transformOrigin: 'right'
      };
    },
    // display button edit and delete
    showDelEdit() {
      let idUserLogin = this.$store.$auth.$state.user.Result.UserId;
      if(this.registerId == idUserLogin) {
        return this.showBtnDelEdit = true;
      } else {
        return this.showBtnDelEdit = false;
      }
    },
  },
  created() {
    // console.log(this.$store.$auth.$state.user.Result.UserId)
  },
  methods: {
    toggleChildren() {
      this.showChildren = !this.showChildren;
    },
    resetInfoReply() {
      this.infoReply = {
        content: "",
        parentId: null,
        privacy: "Public",
      }
    },
    replyComment(commentId) {
      document.getElementById("reply-" + commentId).style.display = "inherit";
    },
    cancelReply(commentId) {
      document.getElementById("reply-" + commentId).style.display = "none";
      this.resetInfoReply();
    },
    async saveReplyComment(commentId) {
      if(!this.infoReply.content) {
        this.$message({
          type: "warning",
          message: "Please input reply"
        });
        return false;
      }
      this.infoReply.parentId = commentId;
      this.$emit('add-comment', this.infoReply);
      this.cancelReply(commentId);
    },
    handleDeleteComment(id) {
      this.$emit('delete-comment', id);
    },
    async editComment(id) {
      var response = await this.$axios.get("pkvideos/comment-video/" + id);
      this.infoEdit.content = response.data.CONTENT
      document.getElementById("edit-" + id).style.display = "inherit";
    },
    cancelEdit(id) {
      document.getElementById("edit-" + id).style.display = "none";
    },
    saveEditComment(id) {
      this.infoEdit.id = id;
      this.$emit('edit-comment', this.infoEdit);
      this.cancelEdit(id);
    }
  }
};
</script>
<style scoped>
.tree-comment .label-wrapper {
  padding-bottom: 10px;
  margin-bottom: 10px;
  /* border-bottom: 1px solid #ccc; */
}
.tree-comment .label-wrapper  .has-children {
  cursor: pointer;
}
</style>