<template>
<div class="row">
    <div class="col-xs-12 center-block text-center">
        <h1>Email verification require</h1>
        <p style="margin-top: 30px;">
          An confirm message already send to your email, please check
        </p>
      </div>
</div>
</template>

<script>
import {
  mapGetters
} from 'vuex'

export default {
  layout: 'empty',
  auth: false,
  computed: {
  },
  created() {
    console.log(mapGetters(['loggedInUser']));
  }
}
</script>
