<template>
  <div class="row login">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="panel panel-blue opacity09">
        <div class="panel-heading">
        <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 531 115" style="enable-background:new 0 0 531 115;" xml:space="preserve"><style type="text/css">.st0{fill:#D31621;}.st1{fill:#FFFFFF;}</style><title>PKMedia</title><rect class="st0" width="156.6" height="115"/><g><path class="st1" d="M106.1,51.9c-4.9,0-7.7,2.4-7.6,6.3s2.7,5.9,7.6,5.9c4.6,0,7.7-2.2,7.8-5.8C113.9,54.5,110.8,51.9,106.1,51.9z"/><path class="st1" d="M34.8,26c2.6,0.1,5.3,0,7.9,0c2.9,0,5.9,0.2,8.8,0c3.5-0.2,6.2-1.7,6.5-5.7c0.3-3.7-1.7-6.3-6-6.5c-5.8-0.4-11.7-0.4-17.5-0.2c-4,0.2-6.7,3.1-6.4,6.4C28.4,24.1,31,25.9,34.8,26z"/><path class="st1" d="M53,62.4c-6.4-0.2-12.8-0.2-19.3,0c-3.5,0.1-5.8,2.4-5.8,6s2.3,5.7,5.8,6c3,0.3,6.1,0.1,9.2,0.1v-0.1c3.4,0,6.7,0.3,10.1-0.1s5.3-2.6,5.3-6S56.4,62.6,53,62.4z"/><path class="st1" d="M19.8,66.3c-3.5,0-6.3,2.8-6.3,6.3v22.7c0.1,3.5,3.1,6.2,6.6,6.1c3.3-0.1,5.9-2.8,6.1-6.1V72.6C26.1,69.1,23.2,66.3,19.8,66.3z"/><path class="st1" d="M90.6,61.8c-3.5,0-6.3,2.8-6.3,6.3l0,0v27.2c0.1,3.5,3.1,6.2,6.6,6.1c3.3-0.1,5.9-2.8,6.1-6.1V68.2C96.9,64.7,94.1,61.8,90.6,61.8z"/><path class="st1" d="M126.2,69c-2-2.9-5.9-3.6-8.8-1.6s-3.6,5.9-1.6,8.8c0,0.1,0.1,0.1,0.1,0.2L131.7,99c2,2.8,6,3.5,8.8,1.5s3.5-6,1.5-8.8l0,0L126.2,69z"/><path class="st1" d="M19.8,21.3c-3.5,0-6.3,2.8-6.3,6.3V57c0.1,3.5,3.1,6.2,6.6,6.1c3.3-0.1,5.9-2.8,6.1-6.1V27.6C26.1,24.1,23.2,21.3,19.8,21.3z"/><path class="st1" d="M66.7,21.3c-3.5,0-6.3,2.8-6.3,6.3l0,0V57c0,3.5,2.8,6.3,6.3,6.3S73,60.5,73,57l0,0V27.6C73,24.1,70.2,21.3,66.7,21.3z"/><path class="st1" d="M90.6,13.5c-3.5,0-6.3,2.8-6.3,6.3v29.5c-0.1,3.5,2.6,6.4,6.1,6.6s6.4-2.6,6.6-6.1c0-0.2,0-0.3,0-0.5V19.8C96.9,16.3,94.1,13.5,90.6,13.5z"/><path class="st1" d="M116.5,49.3c2.9,2,6.8,1.2,8.8-1.6l0,0L142,23.4c2-2.9,1.2-6.8-1.6-8.8c-2.9-2-6.8-1.2-8.8,1.6l0,0l-16.7,24.3C112.9,43.3,113.7,47.3,116.5,49.3z"/></g><g><path class="st1" d="M261.4,92.5h-12.8V50.8l-22.5,39.6c-0.6,1-1.3,1.8-2.3,2.3c-1,0.5-2.1,0.8-3.2,0.8c-1.1,0-2.1-0.3-3.1-0.8c-1-0.5-1.7-1.3-2.3-2.3l-22.6-39.6v41.7h-12.7V27.9c0-1.5,0.4-2.8,1.3-3.9c0.9-1.1,2-1.9,3.4-2.3c0.7-0.2,1.4-0.2,2.1-0.2c0.7,0,1.3,0.2,2,0.4c0.6,0.2,1.2,0.6,1.7,1c0.5,0.4,1,1,1.3,1.6l28.9,50.2l28.9-50.2c0.7-1.2,1.8-2.1,3.1-2.6c1.3-0.5,2.7-0.6,4.1-0.2c1.4,0.4,2.5,1.2,3.4,2.3c0.9,1.1,1.3,2.4,1.3,3.9V92.5z"/><path class="st1" d="M339.4,92.5h-45.8c-1.8,0-3.7-0.3-5.8-0.9c-2.1-0.6-4-1.6-5.8-3.1c-1.8-1.4-3.3-3.3-4.4-5.5c-1.2-2.3-1.8-5-1.8-8.3V28.9c0-0.9,0.2-1.7,0.5-2.5c0.3-0.8,0.8-1.5,1.3-2.1c0.6-0.6,1.2-1,2-1.4c0.8-0.3,1.6-0.5,2.5-0.5h57.2v12.7h-50.9v39.5c0,1.7,0.4,2.9,1.3,3.8c0.9,0.9,2.2,1.3,3.9,1.3h45.7V92.5z M333.7,63.9h-40.1V51.1h40.1V63.9z"/><path class="st1" d="M421.6,63.2c0,4.3-0.7,8.2-2.2,11.8c-1.5,3.6-3.5,6.7-6.1,9.3c-2.6,2.6-5.7,4.6-9.3,6.1c-3.6,1.5-7.5,2.2-11.7,2.2H358c-0.9,0-1.8-0.2-2.5-0.5c-0.8-0.3-1.5-0.8-2-1.3c-0.6-0.6-1-1.2-1.3-2c-0.3-0.8-0.5-1.6-0.5-2.5V28.9c0-0.9,0.2-1.7,0.5-2.5c0.3-0.8,0.8-1.5,1.3-2.1c0.6-0.6,1.2-1,2-1.4c0.8-0.3,1.6-0.5,2.5-0.5h34.3c4.2,0,8.1,0.7,11.7,2.2c3.6,1.5,6.7,3.5,9.3,6.1c2.6,2.6,4.6,5.7,6.1,9.3c1.5,3.6,2.2,7.5,2.2,11.7V63.2z M408.9,51.8c0-2.5-0.4-4.7-1.2-6.8c-0.8-2.1-1.9-3.8-3.4-5.2c-1.5-1.4-3.2-2.6-5.2-3.4c-2-0.8-4.3-1.2-6.8-1.2h-28v44.6h28c2.5,0,4.7-0.4,6.8-1.2c2-0.8,3.8-1.9,5.2-3.4c1.5-1.4,2.6-3.2,3.4-5.2c0.8-2,1.2-4.3,1.2-6.8V51.8z"/><path class="st1" d="M446.8,92.5h-12.7v-70h12.7V92.5z"/><path class="st1" d="M530.4,92.5h-12.7V75.3H473v17.2h-12.7v-35c0-5.1,0.9-9.8,2.6-14.1c1.8-4.3,4.2-8,7.3-11.1c3.1-3.1,6.8-5.5,11.1-7.2c4.3-1.7,8.9-2.6,14-2.6H524c0.9,0,1.7,0.2,2.5,0.5c0.8,0.3,1.5,0.8,2.1,1.4c0.6,0.6,1,1.3,1.4,2.1c0.3,0.8,0.5,1.6,0.5,2.5V92.5z M473,62.6h44.6V35.2h-22.3c-0.4,0-1.2,0.1-2.5,0.2c-1.3,0.1-2.7,0.4-4.3,0.9c-1.6,0.5-3.4,1.2-5.2,2.1c-1.8,0.9-3.5,2.2-5,3.9c-1.5,1.7-2.8,3.7-3.8,6.2c-1,2.5-1.5,5.5-1.5,9.1V62.6z"/></g></svg>
        </div>
        <div class="panel-body">
          <Notification :message="error" v-if="error"/>
          <form autocomplete="off" @submit.stop.prevent="handleSubmit" v-loading="loading" class="marginlr">
            <div class="form-group">
              <label for="userid">UserId:</label>
              <input
                class="form-control"
                id="userid"
                v-model="userid"
                placeholder="Enter UserId"
                name="userid"
                required
              >
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input
                type="password"
                class="form-control"
                id="password"
                v-model="password"
                placeholder="Enter password"
                name="pwd"
                required
              >
            </div>
            <div class="post-categs-box"> 
              <div class="grebutl">
                <span class="categ" rel="category tag"><a href="/" class="btn btn-default">Cancel</a></span>
              </div>
              <div class="blubutr">
                <span class="categ" rel="category tag"><button :disabled="loading" type="submit" class="btn btn-primary">Submit</button></span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Notification from "~/components/Notification";
import Strapi from "strapi-sdk-javascript/build/main";
import { mapMutations } from "vuex";
const apiUrl = process.env.API_URL || "http://localhost:1337";
const strapi = new Strapi(apiUrl);

export default {
  layout: "empty",
  auth: false,
  components: {
    Notification
  },
  data() {
    return {
      email: "",
      userid: "",
      password: "",
      error: null,
      loading: false
    };
  },
  methods: {
    async handleSubmit() {
      try {
        this.loading = true;
        // logout first, it delete local storage
        await this.$auth.logout();
        await this.$auth.loginWith("local", {
          data: {
            username: this.userid,
            password: this.password
          }
        });
        this.$router.push("/");
      } catch (e) {
        console.log(e);
        // this.error = e.response.data.message;
        this.error = "UserId or password invalid";
        this.loading = false;
      }
    },
    async handleSubmitOld() {
      try {
        this.loading = true;
        const response = await strapi.login(this.email, this.password);
        this.loading = false;
        this.setUser(response.user);
        this.$router.push({
          path: "/restaurant"
        });
        // this.$router.go(-1)
      } catch (err) {
        this.loading = false;
        alert(err.message || "An error occurred.");
      }
    },
    ...mapMutations({
      setUser: "auth/setUser"
    })
  }
};
</script>

<style>
.login {
  background-image: url("/images/backgrounds/bg1.jpg");
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.panel.panel-blue {
  border-radius: 0px;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 50%);
  -webkit-box-shadow: 0 0 20px 0 rgb(0 0 0 / 50%);
  -moz-box-shadow: 0 0 20px 0 rgb(0 0 0 / 50%);
  background: rgb(44 57 74 / 60%)
}
.panel.panel-blue .panel-heading {
  border-radius: 0px;
  font-size: 4rem;
  text-align: center;
  font-weight: 500;
  color: #e0e0e0
}
.panel.panel-blue .panel-body {
  color: #737f88;
  background: rgb(44 57 74 / 60%)
}
 input#password {
  height: 5rem
 }
 input#userid {
  height: 5rem
 }
 .topmar {
  margin: 3.4rem 0 1.5rem
}
svg#Layer_2 {
  margin-top: 2rem;
  width: 20rem
}
 form.marginlr{
  margin: 0 1.5rem
 }
.post-categs-box {
  margin: 3rem 0;
 }
.post-categs-box .categ a,
.categ a {
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin: 0 2px 0 0;
  padding: 7px 15px;
  text-decoration: none!important;
  text-transform: uppercase;
  color: #ffffff;
  background: #a2a2a2
}
.post-categs-box .categ a:hover,
.categ a:hover {
  color: #ffffff;
}
.post-categs-box .categ a::after,
.categ a::after {
  overflow: hidden;
  position: absolute;
  z-index: 10;
  top: -50px;
  left: -75px;
  width: 50px;
  height: 155px;
  background: #ffffff;
  opacity: .5;
  content: '';
  transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -webkit-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -moz-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -o-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
 -ms-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  transform: rotate(35deg);
}
.post-categs-box .categ a:hover::after,
.categ a:hover::after {
  left: 120%;
  transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -webkit-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -moz-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -o-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -ms-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
}
.post-categs-box .categ button,
.categ button {
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin: 0 2px 0 0;
  padding: 7px 15px;
  text-decoration: none!important;
  text-transform: uppercase;
  color: #ffffff;
  background: #6094de
}
.post-categs-box .categ button:hover,
.categ button:hover {
  color: #ffffff;
}
.post-categs-box .categ button::after,
.categ button::after {
  overflow: hidden;
  position: absolute;
  z-index: 10;
  top: -50px;
  left: -75px;
  width: 50px;
  height: 155px;
  background: #ffffff;
  opacity: .5;
  content: '';
  transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -webkit-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -moz-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -o-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -ms-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  transform: rotate(35deg);
}
.post-categs-box .categ button:hover::after,
.categ button:hover::after {
  left: 120%;
  transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -webkit-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -moz-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -o-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -ms-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
}
button.btn.btn-primary{
  width: 12rem;
    height: 5rem;
    font-size: 16px;
    font-weight: bold;
    border: none
}
a.btn.btn-default {
    width: 12rem;
    height: 5rem;
    border: none;
    padding-top: 15px;
    font-size: 16px;
    font-weight: bold;
    color: white
}
.blubutr {
  float: right;
  margin-top: -5rem;
}
.col-sm-4.col-sm-offset-4 {
    transform: scale(0.8);
    margin-top: 12rem;
    width: 100%;
    max-width: 35%
}

@media only screen and (max-width:1400px) {
.col-sm-4.col-sm-offset-4 {
    transform: scale(0.8);
    width: 100%;
    max-width: 45%;
    margin-left: 38rem;
}
}
@media only screen and (max-width:1200px) {
  .col-sm-4.col-sm-offset-4 {
    margin-left: 26rem;
    width: 100%;
    max-width: 55%;
}
}
@media only screen and (max-width:992px) {
  .col-sm-4.col-sm-offset-4 {
    margin-left: 17rem;
    width: 100%;
    max-width: 65%;
}
}
@media only screen and (max-width:768px) {
  .col-sm-4.col-sm-offset-4 {
    width: 100%;
    margin-left: 7rem;
    max-width: 80%;
}
}
@media only screen and (max-width:576px) {
  .col-sm-4.col-sm-offset-4 {
    margin-left: 0;
    max-width: 100%;
}
}
</style>