<template>
<div class="row">
    <div class="col-sm-4 col-sm-offset-4" style="padding-top: 150px">
        <div class="panel panel-blue">
            <div class="panel-heading">REGISTER</div>
            <div class="panel-body">
                <Notification :message="error" v-if="error" />
                <form autocomplete="off" @submit.stop.prevent="handleSubmit">
                    <div class="form-group">
                        <label for="Full Namw">Full name</label>
                        <input
                type="text"
                class="form-control"
                id="fullname"
                v-model="fullname"
                placeholder="Enter full name"
                name="fullname"
                required
              >
            </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input
                type="email"
                class="form-control"
                id="email"
                v-model="email"
                placeholder="Enter email"
                name="email"
                required
              >
            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input
                type="password"
                class="form-control"
                id="password"
                v-model="password"
                placeholder="Enter password"
                name="pwd"
                required
              >
            </div>
                                <div class="form-group">
                                    <label for="repwd">Retype Password:</label>
                                    <input
                type="password"
                class="form-control"
                id="retypepassword"
                v-model="retypepassword"
                placeholder="Re enter password"
                name="repwd"
                required
              >
            </div>
                                    <button :disabled="loading" type="submit" class="btn btn-primary btn-block mt-3">Submit</button>
                                    <div class="has-text-centered" style="margin-top: 20px">
                                        Already got an account?
                                        <nuxt-link to="/auth/login">Login</nuxt-link>
                                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import Notification from "~/components/Notification";
import Strapi from "strapi-sdk-javascript/build/main";
import {
  mapMutations
} from "vuex";
const apiUrl = process.env.API_URL || "http://localhost:1337";
const strapi = new Strapi(apiUrl);

export default {
  layout: "empty",
  auth: false, // không yêu cầu login để mở trang này
  components: {
    Notification
  },
  data() {
    return {
      fullname: "",
      email: "",
      password: "",
      retypepassword: "",
      error: null,
      loading: false
    };
  },
  methods: {
    async handleSubmit() {
      await this.$auth.logout();// logout first, it delete local storage

      if (this.password !== this.retypepassword) {
        this.error = "Password not match"
        return;
      }
      try {
        await this.$axios.post('auth/local/register', {
          username: this.fullname,
          email: this.email,
          password: this.password
        })

        this.$router.push('/auth/afterregister')
      } catch (e) {
        this.error = e.response.data.message
      }
    },
    async handleSubmitOld() {
      try {
        this.loading = true;
        const response = await strapi.login(this.email, this.password);
        this.loading = false;
        this.setUser(response.user);
        this.$router.push({
          path: "/restaurant"
        });
        // this.$router.go(-1)
      } catch (err) {
        this.loading = false;
        alert(err.message || "An error occurred.");
      }
    },
    ...mapMutations({
      setUser: "auth/setUser"
    })
  }
};
</script>

<style>
body {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
}

.panel.panel-blue {
    border-radius: 0px;
    box-shadow: 0px 0px 10px #888;
    border-color: #266590;
}

.panel.panel-blue .panel-heading {
    border-radius: 0px;
    color: #fff;
    background-color: #266590;
}

.panel.panel-blue .panel-body {
    background-color: #f2f2f2;
    color: #4d4d4d;
}
</style>
