<template>
  <div class="container">
    <div class="agent-result">
      <div class="agent-profile-picture">
        <div v-if="agent['picture-url']" class="agent-profile-picture-circle">
          <img v-bind:src="agent['picture-url']" alt="Profile picture" v-on:click="goToProfilePage"/>
        </div>
        <div v-else class="circle" v-on:click="goToProfilePage"></div>
      </div>
      <div class="agent-profile">
        <div class="agent-details">
          <div class="agent-name">
            <router-link v-bind:to="profilePagePath">{{ agent['first-name'] + " " + agent['last-name'] }}
            </router-link>
          </div>
          <div v-if="averageOverallDescriptionRating" class="agent-rating">
            <span-star-rating-view v-bind:ratingValue="averageOverallDescriptionRating">
            </span-star-rating-view>
            <span class="review-count">{{ agentReviews.length }} reviews</span>
          </div>
          <div v-else class="agent-job-title">
            {{ agent['job-title'] }}
          </div>
        </div>
        <div class="contact-button">
          <a v-bind:href="contactAgentPath">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Contact
          </a>
        </div>
      </div>
      <div class="agent-stats">
        <div v-if="service===0" class="agent-stats-block">
          Recently sold properties: {{ transactionCount }}<br />
          Transaction range: {{ transactionRange }}<br />
          Time to buy: {{ timeToSell }}
        </div>
        <div v-if="service===1" class="agent-stats-block">
          Recently bought properties: {{ transactionCount }}<br />
          Transaction range: {{ transactionRange }}<br />
          Time to sell: {{ timeToSell }}
        </div>
        <div v-if="service===2" class="agent-stats-block">
          Recently rented out properties: {{ transactionCount }}<br />
          Transaction range: {{ transactionRange }}<br />
          Time to rent out: {{ timeToRent }}
        </div>
        <div v-if="service===3" class="agent-stats-block">
          Recently rented properties: {{ transactionCount }}<br />
          Transaction range: {{ transactionRange }}<br />
          Time to rent: {{ timeToRent }}
        </div>
        <div class="agent-stats-block">
          Property types: {{ getHandledPropertyTypes(this.agentFact) }}<br />
          Regions: {{ getCoveredRegions(this.agentFact) }}<br />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SpanStarRatingView from '~/components/SpanStarRatingView.vue';
import agentFactMixin from '~/lib/agent-fact-mixin';
import { getAxiosAirlisting } from '~/plugins/axios-airlisting';
import { captureException } from '~/plugins/error-logger';

export default {
  // Mixins
  mixins: [agentFactMixin],

  // Components
  components: {
    SpanStarRatingView
  },

  // Props
  props: {
    'agent': Object,
    'agentFact': Object,
    'service': {
      type: Number,
      default: 0
    }
  },

  // Data
  data: function() {
    return {
      agentReviews: undefined,
      axiosAirlisting: getAxiosAirlisting(this.$router)
    }
  },

  // Computed data
  computed: {
    // Return the contact agent path
    contactAgentPath: function() {
      return this.profilePagePath + "#contact-agent";
    },

    // Return the profile page path
    profilePagePath: function() {
      return '/a/' + this.agent['username'].replace('_', '-') + "?service=" + this.service;
    },

    // Return the transaction range
    transactionRange: function() {
      // Check if the facts of the agent have been downloaded
      var isSaleTransaction = (this.service === 0) || (this.service === 1);
      var minimumTransactionPrice = isSaleTransaction
        ? this.agentFact['minimum-sale-price']
        : this.agentFact['minimum-rental-price'];
      var maximumTransactionPrice = isSaleTransaction
        ? this.agentFact['maximum-sale-price']
        : this.agentFact['maximum-rental-price'];
      if ((undefined === minimumTransactionPrice) || (undefined === maximumTransactionPrice))
        return "";

      // Check if the transaction range is known
      if ((0 >= minimumTransactionPrice) || (0 >= maximumTransactionPrice))
        return "unknown";

      // Return the transaction range
      return "$" + this.toShortNumber(minimumTransactionPrice) +
        " - $" + this.toShortNumber(maximumTransactionPrice);
    },

    // Return the transaction count
    transactionCount: function() {
      // Retrieve the transaction count
      var thirtySixMonthTransactionCount;
      switch (this.service) {
        case 0:
          thirtySixMonthTransactionCount = this.agentFact['36-month-sale-count'];
          break;
        case 1:
          thirtySixMonthTransactionCount = this.agentFact['36-month-bought-count'];
          break;
        case 2:
          thirtySixMonthTransactionCount = this.agentFact['36-month-rental-count'];
          break;
        case 3:
          thirtySixMonthTransactionCount = this.agentFact['36-month-rented-count'];
          break;
      }

      // Check that the transaction count is defined
      if ((undefined === thirtySixMonthTransactionCount) || (null === thirtySixMonthTransactionCount))
        return "unknown";

      // Return the transaction count
      return thirtySixMonthTransactionCount;
    },

    // Return the time to rent
    timeToRent: function() {
      // Check if the facts of the agent have been downloaded
      var minimumTimeToRent = this.agentFact['minimum-time-to-rent'];
      var maximumTimeToRent = this.agentFact['maximum-time-to-rent'];
      if ((undefined === minimumTimeToRent) || (undefined === maximumTimeToRent))
        return "";

      // Check if the time to rent range is known
      if ((0 >= minimumTimeToRent) || (0 >= maximumTimeToRent))
        return "unknown";

      // Return the time to rent range
      return this.toShortDuration(minimumTimeToRent) + " - " + this.toShortDuration(maximumTimeToRent);
    },

    // Return the time to sell
    timeToSell: function() {
      // Check if the facts of the agent have been downloaded
      var minimumTimeToSell = this.agentFact['minimum-time-to-sell'];
      var maximumTimeToSell = this.agentFact['maximum-time-to-sell'];
      if ((undefined === minimumTimeToSell) || (undefined === maximumTimeToSell))
        return "";

      // Check if the time to sell range is known
      if ((0 >= minimumTimeToSell) || (0 >= maximumTimeToSell))
        return "unknown";

      // Return the time to sell range
      return this.toShortDuration(minimumTimeToSell) + " - " + this.toShortDuration(maximumTimeToSell);
    },

    // Average overall rating
    averageOverallDescriptionRating: function() {
      // Verify that the agent reviews exist
      if (undefined === this.agentReviews)
        return undefined;

      // Verify that there is at least one review
      var overallDescriptionRatings = this.agentReviews.map(function(agentReview) {
        return agentReview['overall-experience-rating']
      }).filter(function(rating) {
        return !isNaN(rating) && rating > 0;
      });
      if (0 === overallDescriptionRatings.length)
        return undefined;

      // Return the average overall description rating
      var ratingSum = overallDescriptionRatings.reduce(function(firstNumber, secondNumber) {
        return firstNumber + secondNumber;
      });
      return Math.floor(ratingSum / overallDescriptionRatings.length);
    }
  },

  // Retrieve the agent reviews
  created: function() {
    this.retrieveAgentReviews();
  },

  // Methods
  methods: {
    // Go to the profile page
    goToProfilePage: function() {
      this.$router.push(this.profilePagePath);
    },

    // Retrieves the agent reviews
    retrieveAgentReviews: function() {
      // Check that the Auth0 user id has been defined
      if (undefined === this.agent['auth0-user-id'])
        return;

      // Retrieve the reviews
      var self = this;
      this.axiosAirlisting.get('/agentReview?auth0UserId=' + encodeURIComponent(this.agent['auth0-user-id']))
        .then(function(response) {
          self.agentReviews = response.data.filter(function(agentReview) {
            return (agentReview['overall-experience-description'] !== undefined) &&
              (agentReview['overall-experience-description'] !== null);
          });
        })
        .catch(function(error) {
          if ((undefined === error.response) || (404 !== error.response.status))
            captureException(error);
        });
    }
  }
}
</script>