<template>
  <div class="agent-search-bar">
    <div class="container text-center">
      <div class="col-sm-6">
        <div class="col-sm-4 dropdown-col">
          <dropdown-view v-bind:options="['Sell', 'Buy', 'Rent Out', 'Rent']" v-bind:selectedIndex="service" 
            v-on:updateIndex="updateIndex('updateService', $event)">
          </dropdown-view>
        </div>
        <div class="col-sm-4 dropdown-col">
          <dropdown-view v-bind:options="['Any property', 'Condo', 'HDB', 'Landed']" 
            v-bind:selectedIndex="propertyType" 
            v-on:updateIndex="updateIndex('updatePropertyType', $event)">
          </dropdown-view>
        </div>
        <div class="col-sm-4 dropdown-col">
          <dropdown-view v-bind:options="['Anywhere', 'Central', 'West', 'East', 'North', 'North-East']" 
            v-bind:selectedIndex="region" 
            v-on:updateIndex="updateIndex('updateRegion', $event)">
          </dropdown-view>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="col-sm-6 dropdown-col">
          <dropdown-view v-bind:options="priceRanges" 
            v-bind:selectedIndex="priceRange"
            v-on:updateIndex="updateIndex('updatePriceRange', $event)">
          </dropdown-view>
        </div>
        <div class="col-sm-6 dropdown-col">
          <dropdown-view v-bind:options="['Any time', 'In less than 1 week', 'In less than 1 month', 
            'In less than 3 months', 'In less than 6 months', 'In less than 1 year', 'In less than 2 years',
            'In less than 3 years', 'In less than 5 years']" 
            v-bind:selectedIndex="timeToTransact"  
            v-on:updateIndex="updateIndex('updateTimeToTransact', $event)">
          </dropdown-view>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DropdownView from '~/components/DropdownView.vue';

export default {
  // Components
  components: {
    DropdownView
  },

  // Props
  props: {
    'service': {
      default: 0
    },
    'propertyType': {
      default: 0
    },
    'region': {
      default: 0
    },
    'priceRange': {
      default: 0
    },
    'timeToTransact': {
      default: 0
    }
  },

  // Computed data
  computed: {
    // Return the possible price ranges
    priceRanges: function() {
      // Return the sell price ranges if the service type is sell
      if ((this.service === 0) || (this.service === 1))
        return ['Any selling price', '$0 - $500K', '$500K - $1M', '$1M - $2M', '$2M - $3M',
          '$3M - $4M', '$4M - $5M', '$5M - $10M', '$10M - $20M', '$20M+'
        ];

      // Return the rental price ranges otherwise
      return ['Any monthly rent', '$0 - $1K', '$1K - $2K', '$2K - $4K', '$4K - $6K',
        '$6K - $8K', '$8K - $10K', '$10K - $20K', '$20K - $40K', '$40K+'
      ];
    }
  },

  // Methods
  methods: {
    // Update the index
    updateIndex: function(eventName, index) {
      this.$emit(eventName, index);
    }
  }
}
</script>