<template>
<div>
    <Header :dialog-visible="visible" @dialogFormVisible="handleFromChildToParent" />
    <div>
      <nuxt-child  :dialog-visible="visible" />
    </div>
    <!-- <Footer /> -->
</div>
</template>

<script>
import Header from "~/components/Header.vue";
import Footer from "~/components/FooterView.vue";
export default {
  data() {
    return {
      visible: false
    }
  },
  created() {
    this.setListener()
  },
  methods: {
    handleFromChildToParent (event) {
      // get the data after child dealing
      this.visible = event;
    },
    setListener() {
      // nhan gia tri emit tu pages/gallery, pages/index
      this.$nuxt.$on('dialogFormVisible', this.handleFromChildToParent)
    },
  },
  components: {
    Header,
    Footer
  }
};
</script>

<style>
</style>
