<template>
  <div>
    <!-- <navigation-bar-view /> -->
    <div class="container">
      <div class="col-sm-offset-3 col-sm-6 white-background">
          <h5>Some errors happen, please contact admin for help</h5>
      </div>
    </div>
    <!-- <footer-view /> -->
 </div>
</template>

<script>
import FooterView from '~/components/FooterView.vue';
import NavigationBarView from '~/components/NavigationBarView.vue';

export default {
  // Components
  components: {
    FooterView,
    NavigationBarView
  }
}
</script>