<template>
  <div class="display-list-video">
    <div class="container-fluid min-height-80vh" style="margin-right: 15px">
      <div class="row path-controll" style="margin-top: 20px">
        <ol>
          <li><span class="font15">Manage video</span></li>
          <li> / </li>
          <li><span><nuxt-link to="/myvideo" class="font14">My video</nuxt-link></span></li>
          <li> / </li>
          <li><span class="font13">Edit video</span></li>
        </ol>
      </div>
      <span  v-if="errorText" >{{this.errorText}}</span>
      <div v-else class="row form-content">
        <div class="col-md-12 form-edit-video">
          <el-form :label-position="labelPosition" label-width="100px" ref="uploadForm" :model="formData" :rules="validateRules">
            <el-form-item label="Title" prop="title">
              <el-input v-model="formData.title" clearable></el-input>
            </el-form-item>
            <el-form-item label="Corporation" prop="companycode">
              <el-select placeholder="Corporation" v-model="formData.companycode" clearable>
                <el-option v-for="item in listCompany" :key="item.CODE" :label="item.NAME" :value="item.CODE" />
              </el-select>
            </el-form-item>
            <el-form-item label="Department" prop="departmentcode">
              <el-select v-model="formData.departmentcode" clearable>
                <el-option v-for="item in listDepartment" :key="item.CODE" :label="item.NAME" :value="item.CODE" />
              </el-select>
            </el-form-item>
            <el-form-item label="Privacy" prop="privacy">
              <el-select v-model="formData.privacy">
                <el-option label="Public" value="Public"></el-option>
                <el-option label="Private" value="Private"></el-option>
                <el-option label="Department only" value="Department"></el-option>
              </el-select>
            </el-form-item>
            <hr />
            <el-form-item class="btn-edit-video" style="margin-bottom: 0px">
              <el-button type="primary" @click="handleSave">Save</el-button>
              <nuxt-link to="/myvideo" style="float: right">
                  <el-button type="plain">Back to list</el-button>
              </nuxt-link>
            </el-form-item>
          </el-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  mapGetters
} from "vuex";

export default {
  layout: "default",
  middleware: "auth",
  data() {
    return {
      labelPosition: 'right',
      listCompany: [],
      istDepartment: [],
      fileId: undefined,
      errorText: "",
      formData: {
        title: "",
        // description: "",
        privacy: "",
        companycode: "",
        departmentcode: ""
      },
      validateRules: {
        title: [{
          required: true,
          message: 'Please input Title',
          trigger: 'blur'
        }],
        companycode: [{
          required: true,
          message: 'Please choose Company',
          trigger: 'change'
        }],
        departmentcode: [{
          required: true,
          message: 'Please choose Department',
          trigger: 'change'
        }]
      }
    };
  },
  async asyncData(context) {
    var videoId = context.params.videoid;
    if (!videoId) return {};

    var masterResponse = await context.$axios.get("masterdatas");
    // console.log(masterResponse);

    var fileInfoResponse = await context.$axios.get("pkvideos/" + videoId + "/info", {});
    // console.info(fileInfoResponse);

    var errorLog = "";
    if (!fileInfoResponse.data.IsSuccess) {
      errorLog = fileInfoResponse.data.Log;
    }

    return {
      fileId: videoId,
      formData: {
        title: fileInfoResponse.data.Result.FILENAME,
        companycode: fileInfoResponse.data.Result.CORPORATION,
        departmentcode: fileInfoResponse.data.Result.DEPARTMENT,
        privacy: fileInfoResponse.data.Result.PRIVACY_CODE
      },
      errorText: errorLog,
      listCompany: masterResponse.data.Result.ListCompany,
      listDepartment: masterResponse.data.Result.ListDepartment
    };
  },
  computed: {
    ...mapGetters(["loggedInUser"])
  },
  created() {
    // console.log(mapGetters(["loggedInUser"]));
  },
  methods: {
    async handleSave() {
      var isValidateSuccess = true;
      this.$refs["uploadForm"].validate((valid) => {
        if (!valid) {
          isValidateSuccess = false;
          return false;
        }
      });

      if (!isValidateSuccess) return;

      var response = await this.$axios.put(`pkvideos/` + this.fileId, this.formData);

      if (!response.data.IsSuccess) {
        this.$message({
          type: 'warning',
          message: response.data.Log
        });
      } else {
        this.$message({
          type: 'success',
          message: 'Save success'
        });

        this.$router.push({
          path: '/myvideo'
        })
      }
    }
  }
};
</script>

<style>
input[type="file"] {
    display: none;
}
.form-edit-video {
    padding: 20px;
    background: #fff;
    border: 1px solid #dcdfe6;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    -ms-box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    -o-box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
}
.path-controll ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.path-controll ol li {
  display: inline;
  font-size: 12px;
  padding: 4px;
}
.btn-edit-video .el-form-item__content {
  margin: 0px !important;
}
.font15 {
  font-size: 15px;
}
.font14 {
  font-size: 14px;
}
.font13 {
  font-size: 13px;
}
.form-content {
  margin-top:20px; 
  margin-bottom: 20px
}
.row.path-controll {
    color: #e0e0e0;
}
</style>
