<template>
  <div>
    <!-- .header-hero-unit -->
    <div class="header-hero-unit about-hero-unit">
      <div class="blue-filter">
        <navigation-bar-content-view v-bind:isTextWhite="true" />
        <div class="container text-center" id="header-text">
          <p>
            We help property owners<br />
            and property seekers<br />
            find real estate agents<br />
            at no charge.
          </p>
        </div>
      </div>
    </div>
    <!-- .header-hero-unit -->
    <!-- .story -->
    <div class="container story">
      <div class="col-sm-6 col-sm-offset-3">
        <h2>What is ZenEstate?</h2>
        <p>
          ZenEstate is a real estate agent search engine and is solving a simple problem that many property owners and 
          property seekers have: "who would be a great real estate agent for my particular needs?". ZenEstate helps
          property owners and seekers find real estate agents who have successfully served clients with very similar 
          needs (housing type, location, price range and timeline).
        </p>
        <h2>Our Story</h2>
        <p>
          ZenEstate started in summer 2016 when Tim learnt he had to move back to Singapore. Tim just moved a few 
          months before to a house in Seattle, USA, which he chose from Singapore without seeing it thanks to a real 
          estate agent he found randomly. Tim knew that moving back to Singapore meant going through once again the 
          painful experience of trusting a real estate agent randomly chosen to pick his next home.
        </p>
        <p>
          Frustrated by this experience, Tim thought that finding a real estate agent does not have to be random and 
          could be based on matching experience and reviews. In May 2017, ZenEstate was born. Most of us would not go
          to a hotel without reading reviews first. Why would we choose a real estate agent without seeing past 
          experiences and reviews first?
        </p>
        <p>
          ZenEstate is 100% free and if you believe that finding a real estate agent should be based on relevant 
          experience and reviews, you can help by inviting real estate agents you like and by sharing this website with
          your friends.
        </p>
      </div>
    </div>
    <!-- .story -->
    <!-- footer-view -->
    <footer-view />
    <!-- footer-view -->
  </div>
</template>

<script>
import FooterView from '~/components/FooterView.vue';
import NavigationBarContentView from '~/components/NavigationBarContentView.vue';

export default {
  // Components
  components: {
    FooterView,
    NavigationBarContentView
  }
}
</script>