<template>
    <div>
        <navigation-bar-view />
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3 contact-us-form white-background">
                <form id="edit-agent-form" method="post" action="#" v-if="mode=='form'"> 
                    <fieldset>
                        <legend>Contact Us</legend>
                        <div class="form-group">
                            <label for="input-contact-us-email" class="control-label">Email address</label>
                            <input type="text" class="form-control" id="input-contact-us-email" placeholder="myaddress@domain.com"
                                name="email" v-model="emailAddress">
                        </div>
                        <div class="form-group">
                            <label for="input-contact-us-title" class="control-label">Title</label>
                            <input type="text" class="form-control" id="input-contact-us-title" placeholder="Title"
                                name="title" v-model="messageTitle">
                        </div>
                        <div class="form-group">
                            <label for="input-contact-us-message" class="control-label">Message</label>
                            <textarea class="form-control" rows="10" id="input-contact-us-message" placeholder="Message"
                                name="message" v-model="messageBody"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="button" class="button-primary" v-on:click="sendEmail">Send</button>
                        </div>
                    </fieldset>
                </form>
                <h4 v-if="mode=='email-sent'">Thank you for reaching us! You should hear from us soon!</h4>
            </div>
        </div>
        <footer-view />
    </div>
</template>

<script>
import NavigationBarView from '~/components/NavigationBarView.vue';
import FooterView from '~/components/FooterView.vue';
import { captureException } from '~/plugins/error-logger';
import axios from 'axios';

export default {
  // Components
  components: {
    NavigationBarView, FooterView
  },

  // Data
  data: function () {
    return {
      emailAddress: undefined,
      messageBody: undefined,
      messageTitle: undefined,
      mode: 'form'
    };
  },

  // Methods
  methods: {
    // Send the email
    sendEmail: function () {
      captureException('test');
      // Initialize the input data
      var inputData = {
        email: this.emailAddress,
        title: this.messageTitle,
        message: this.messageBody
      };

      // Send the email
      axios.post('https://fkfm91ymsi.execute-api.us-west-2.amazonaws.com/Production/contactUs', inputData)
        .then(function (postResponse) {})
        .catch(function (postError) {
          captureException(postError);
        });

      // Change the mode
      this.mode = 'email-sent';
    }
  }
};
</script>

<style>
</style>
