<template>
  <div>
    <transition-group name="fade" tag="div">
      <div v-for="i in [currentIndex]" :key="i">
        <video
          id="homeVideo"
          autoplay
          muted loop
          name="media"
          :src="currentSrcVideo"
        ></video>
      </div>
    </transition-group>
    <a class="prev" @click="prev" href="#"><svg data-v-41be6633="" viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img" aria-label="chevron left" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi-chevron-left mx-auto b-icon bi"><g data-v-41be6633=""><path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path></g></svg></a>
    <a class="next" @click="next" href="#"><svg data-v-41be6633="" viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img" aria-label="chevron right" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi-chevron-right mx-auto b-icon bi"><g data-v-41be6633=""><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path></g></svg></a>
    <div class="content-video">
      <div class="sexy">
        <div class="container-fluid marbott">
          <div class="abs">
            <h1>{{ fileName }}</h1>
            <p>{{ companyName }} ({{ departmentName }})</p>
            <span style="font-size: 20px;font-weight:600">{{ uploadName }}</span>
            <span style="padding-left: 3rem"> {{ timeUpload }}</span>
            <div class="post-categs-box">
              <span class="categ"><el-button id="btnGalary" @click="btnGallery()"><i class="el-icon-s-grid" rel="category tag"></i><br>GALLERY </el-button></span>
            </div>
          </div>
        </div>
        <!--
          <el-row>
          <el-col :span="12"><div class="grid-content bg-purple"></div></el-col>
          <el-col :span="12"><div class="grid-content bg-purple-light"></div></el-col>
          </el-row>

        <b-container class="container">
            <b-row align-v="center">
              <b-col sm="9" class="abs">
                        <h1>{{ fileName }}</h1>
                    <p>{{ companyName }} ({{ departmentName }})</p>
                    <span style="font-size: 20px;font-weight:600">{{ uploadName }}</span>
                    <span style="padding-left: 3rem"> {{ timeUpload }}</span>
              </b-col>
              <b-col sm="3" class="post-categs-box">
              <span class="categ"><el-button id="btnGalary" @click="btnGallery()"><i class="el-icon-s-grid" rel="category tag"></i><br>GALLERY </el-button></span>
              </b-col>
            </b-row>
          </b-container>-->
      </div>
    </div>
  </div>
</template>

<script>

import Vuex from 'vuex';
import Vue from 'vue';
Vue.use(Vuex);

export default {
  name: "Slider",
  auth: true,
  data() {
    return {
      video: null,
      fileName: '',
      companyName: '',
      departmentName: '',
      uploadName: '',
      timeUpload: '',
      currentVid: 0,
      timer: null,
      currentIndex: 0,
      indexVid: 0
    };
  },
  async asyncData(context) {
    // get video the first
    const response = await context.$axios.$get("pkvideos/new-video");
    return {
      video: response.Result,
      fileName: response.Result[0].FILENAME,
      companyName: response.Result[0].COMPANY_NAME,
      departmentName: response.Result[0].DEPARTMENT_NAME,
      uploadName: response.Result[0].UPLOADER_NAME,
      timeUpload: response.Result[0].TIME_UPLOADDATE,
    };
  },
  mounted: function() {
    this.startSlide();
  },

  methods: {
    // auto change video after 8 seconds
    startSlide: function() {
      this.timer = setInterval(this.next, 8000);
    },

    next: function() {
      this.currentIndex += 1;
      this.handleInfoVideo(this.indexVid);
    },
    prev: function() {
      this.currentIndex -= 1;
      this.handleInfoVideo(this.indexVid);
    },
    handleInfoVideo(idxVid) {
      this.fileName = this.video[idxVid].FILENAME
      this.companyName = this.video[idxVid].COMPANY_NAME
      this.departmentName = this.video[idxVid].DEPARTMENT_NAME
      this.uploadName = this.video[idxVid].UPLOADER_NAME
      this.timeUpload = this.video[idxVid].TIME_UPLOADDATE
    },
    btnGallery() {
      // hanđel active menu gallery
      this.$store.commit('store/gallery')
      this.$router.push('gallery')
    }
  },
  computed: {
    currentSrcVideo: function() {
      this.indexVid = Math.abs(this.currentIndex) % this.video.length;
      return this.video[Math.abs(this.currentIndex) % this.video.length].URL;
    }
  },
};
</script>
<style>
.post-categs-box .categ button:hover,
.categ button:hover {
  color: #ffffff;
}
.post-categs-box .categ button,
.categ button {
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin: 0 2px 0 0;
  padding: 7px 15px;
  text-decoration: none!important;
  color: #ffffff;
}
.post-categs-box .categ button::after,
.categ button::after {
  overflow: hidden;
  position: absolute;
  z-index: 10;
  top: -50px;
  left: -75px;
  width: 50px;
  height: 155px;
  background: #ffffff;
  opacity: .5;
  content: '';
  transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -webkit-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -moz-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -ms-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -o-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  transform: rotate(35deg);
}
.post-categs-box .categ button:hover::after,
.categ button:hover::after {
  left: 120%;
  transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -webkit-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -moz-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -o-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -ms-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
}
.container-fluid.marbott {
    margin-bottom: 2em;
}
</style>