<template>
  <div class="display-list-video whibg" style="padding-top: 60px">
    <div class="row" v-if="errorText">
      <span style="margin-left: 100px">{{this.errorText}}</span>
    </div>
    <!-- display video -->
    <div class="row" v-else-if="isLink">
      <span style="margin-left: 100px">Redirecting...</span>
    </div>
    <div v-else>
    <!-- display memo
      <div class="videowatermarks">{{this.videoInfo.MEMO}}</div> -->
      <video
        controls
        autoplay
        name="media"
        :src="videoUrl"
        style="width: 100%; height: 650px; background-color: black"
      ></video>
    </div>
    <!-- info video -->
    <div class="grid-content bg-purple-dark">
      <div class="container-fluid" style="margin-top:10px">
        <div v-if="!errorText && !isLink" class="info-detail-video">
            <div class="row">
              <div
                style="margin-top: 10px; font-size: 1.8rem; font-weight: 600;"
              >{{this.videoInfo.FILENAME}} - {{this.videoInfo.UPLOADER_NAME}}</div>
            </div>
            <div class="row" v-if="videoInfo.COMPANY_NAME != '-' && videoInfo.DEPARTMENT_NAME != '-'">
              <div style="font-size: 14px">
                Uploaded by:
                <span
                  style="color:#6094de; font-weight: 600"
                >{{this.videoInfo.COMPANY_NAME}} ({{this.videoInfo.DEPARTMENT_NAME}})</span>
              </div>
            </div>
            <div class="row" v-else>
              <div style="font-size: 14px; font-weight: 400">
                Uploaded by:
                <span style="font-weight: 600">Manage style files</span>
              </div>
            </div>
            <div class="row marl">
              <div style="margin-top: 10px; font-size: 14px">{{this.videoInfo.UPLOADDATE_TEXT}}</div>
            </div>
        </div>
      </div>
    </div>
    <!-- comment-->
    <div class="container-fluid st1">
            <!-- add memo-->
            <div class="st01">
              <div class="row">
                <el-input
                  v-model="videoUrl"
                  >
                  <el-button ref="btn" slot="append" icon="document" @click="doCopy">Copy</el-button>
                </el-input>
              </div>
            </div>
            <div class="nd02">
              <div class="row memo">
                <el-input placeholder="Input Memo" v-model="formData.memo" class="input-with-select">
                  <el-button ref="btn" slot="append" icon="document" @click="addMemo()">Save</el-button>
                </el-input>
              </div>
            </div>
    </div>
    <div class="container-fluid">
        <div class="comments">
          <div class="comment-box add-comment">
            <span class="post-categs-box">
              <textarea v-model="itemAdd.content" placeholder="Write a public comment here" :rows="2" name="Add Comment"></textarea>
              <span class="categ" rel="category tag">
                <button type="submit"  @click="addComment()" action="https://jsonplaceholder.typicode.com/posts/">Enter</button>
                <button class="greyco" type="cancel"  @click="resetItemAdd()">Cancel</button>
              </span>
            </span>
          </div>
          <div v-for="item in listComments" :key="item.ID">
            <tree-comment
              :content="item.CONTENT"
              :nodes="item.children"
              :username="item.USERNAME"
              :datecomment="item.DATE_COMMENT"
              :commentId="item.COMMENTID"
              :id="item.ID"
              :depth="0"
              :fileId="item.FILEID"
              :registerId="item.REGISTERID"
              @add-comment="addComment"
              @delete-comment="deleteComment"
              @edit-comment="editComment"
            ></tree-comment>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import TreeComment from "./treecomments/treecomment";

export default {
  layout: "default",
  auth: false,
  data() {
    return {
      videoInfo: undefined,
      videoUrl: "",
      videoId: "",
      errorText: "",
      isLink: true,
      listComments: null,
      itemAdd: {
        fileId: "",
        content: "",
        parentId: null,
        privacy: "Public",
      },
      formData: {
        memo: ""
      },
    };
  },
  async asyncData(context) {
    var videoId = context.query.id;
    if (!videoId) return {};
    var fileInfoResponse = await context.$axios.get(
      "pkvideos/" + videoId + "/info",
      {}
    );
    var lstCmt = await context.$axios.get("pkvideos/comments/" + videoId, {});
    var errorLog = "";
    if (!fileInfoResponse.data.IsSuccess) {
      errorLog = fileInfoResponse.data.Log;
    }
    return {
      videoInfo: fileInfoResponse.data.Result,
      videoUrl: fileInfoResponse.data.Result
        ? fileInfoResponse.data.Result.URL
        : "",
      errorText: errorLog,
      isLink: fileInfoResponse.data.Result
        ? fileInfoResponse.data.Result.FILETYPE === "link"
        : false,
      listComments: lstCmt.data.Result,
      videoId: videoId
    };
  },
  computed: {
    ...mapGetters(["loggedInUser"]),
  },
  created() {
    this.formData.memo = this.videoInfo.MEMO
    // console.log("errorText = " + this.errorText);
    if (this.videoInfo && this.videoInfo.FILETYPE === "link")
      window.location = this.videoInfo.FILEPATH;
  },
  methods: {
    doCopy() {
      this.$copyText(this.videoUrl);
    },
    async getComment() {
      var response = await this.$axios.get("pkvideos/comments/" + this.videoId, {});
      this.listComments = response.data.Result;
    },
    // create comment
    async addComment(item) {
      if(!this.$store.state.auth.loggedIn) {
        this.$message({
          type: "warning",
          message: "Please login to add comment"
        });
        return false;
      }
      if(item) {
        this.itemAdd = item;
      }
      if(!this.itemAdd.content) {
        this.$message({
          type: "warning",
          message: "Please input comment"
        });
        return false;
      }
      this.itemAdd.fileId = this.videoId;
      var response = await this.$axios.post(
        `pkvideos/comment-video`,
        this.itemAdd
      );
      if(response.data.IsSuccess) {
        this.$message({
          type: "success",
          message: item ? "Reply comment success" : "Add comment success"
        });
        this.getComment();
        this.resetItemAdd();
      }
    },
    resetItemAdd() {
      this.itemAdd.content = "";
      this.itemAdd.parentId = "";
    },
    // delete comment
    deleteComment(id) {
      this.$confirm(
        "Are you sure delete comment?",
        "Warning",
        {
          confirmButtonText: "OK",
          cancelButtonText: "Cancel",
          type: "warning"
        }
      )
        .then(async () => {
          var response = await this.$axios.delete("pkvideos/comment-video/" + id);
          if (response.data.IsSuccess) {
            await this.getComment();
            this.$message({
              type: "success",
              message: "Delete completed"
            });
          } else {
            this.$message({
              type: "warning",
              message: response.data.Log
            });
          }
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "Delete canceled"
          });
        });
    },
    // update comment
    async editComment(item) {
      if(item) {
        var response = await this.$axios.put('pkvideos/comment-video', item);
        if (!response.data.IsSuccess) {
          this.$message({
            type: 'warning',
            message: response.data.Log
          });
        } else {
          this.$message({
            type: 'success',
            message: 'Edit success'
          });
          this.getComment();
        }
      }
      
    },
    // add memo
    async addMemo() {
      if(!this.$store.state.auth.loggedIn) {
        this.$message({
          type: "warning",
          message: "Please login to add memo"
        });
        return false;
      }
      var response = await this.$axios.put('pkvideos/memo/' + this.videoId, this.formData);
      if(response.data.IsSuccess) {
        this.$message({
          type: "success",
          message: "Add memo success"
        });
      }
      this.getVideo(this.videoId)
    },
    async getVideo(videoId) {
      var infoVideo = await this.$axios.get(
        "pkvideos/" + videoId + "/info",
        {}
      );
      this.videoInfo.MEMO = infoVideo.data.Result.MEMO
      this.formData.memo = infoVideo.data.Result.MEMO;
    }
    
  },
  components: {
    TreeComment,
  },
};
</script>
<style>
.post-categs-box {
  margin: 3rem 0;
 }
.post-categs-box .categ a,
.categ a {
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin: 0 2px 0 0;
  padding: 7px 15px;
  text-decoration: none!important;
  text-transform: uppercase;
  color: #ffffff;
  background: #a2a2a2
}
.post-categs-box .categ a:hover,
.categ a:hover {
  color: #ffffff;
}
.post-categs-box .categ a::after,
.categ a::after {
  overflow: hidden;
  position: absolute;
  z-index: 10;
  top: -50px;
  left: -75px;
  width: 50px;
  height: 155px;
  background: #ffffff;
  opacity: .5;
  content: '';
  transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -webkit-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -moz-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -o-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -ms-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  transform: rotate(35deg);
}
.post-categs-box .categ a:hover::after,
.categ a:hover::after {
  left: 120%;
  transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -webkit-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -moz-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -o-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -ms-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
}
.post-categs-box .categ button,
.categ button {
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin: 0 2px 0 0;
  padding: 7px 15px;
  text-decoration: none!important;
  text-transform: uppercase;
  color: #ffffff;
  background: #6094de
}
.post-categs-box .categ button:hover,
.categ button:hover {
  color: #ffffff;
}
.post-categs-box .categ button::after,
.categ button::after {
  overflow: hidden;
  position: absolute;
  z-index: 10;
  top: -50px;
  left: -75px;
  width: 50px;
  height: 155px;
  background: #ffffff;
  opacity: .5;
  content: '';
  transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -webkit-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -moz-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -o-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -ms-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  transform: rotate(35deg);
}
.post-categs-box .categ button:hover::after,
.categ button:hover::after {
  left: 120%;
  transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -webkit-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -moz-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -o-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
  -ms-transition: all 550ms cubic-bezier(.19, 1, .22, 1);
}
.container-play-video {
  padding: 0px !important;
  margin-right: 0px !important;
  margin-left: 30px !important;
}
.display-list-video.whibg{
  background: #fff
}
.grid-content.bg-purple-dark{
  background-color: #f5f5f5;
  border-bottom: 1px solid #e1e8ed;
  margin-top: -13px;
  padding-top: 13px
}
.info-detail-video{
  float: left
}
sup.el-badge__content.el-badge__content--undefined.is-fixed.is-dot{
  height: 12px;
  width: 12px;
  right: 7px
}
input.el-input__inner {
    background: none;
    border: none;
}
input.el-input__inner {
    background: none;
    border: none
}
.nobg {
    border-bottom: 1px solid #ddd;
    margin-top: 2rem
}
.row.marl {
    margin-bottom: 2rem
}
input.el-input__inner {
    border: 1px solid #DCDFE6
}
.st01 {
    float: left;
    width: 48%;
    margin-top: 2rem
}
.nd02 {
    float: right;
    width: 48%;
    margin-top: 2rem
}
.container-fluid.st1 {
    background: #fafafa;
    border-bottom: 1px solid #e1e8ed
}
button.greyco {
    background-color: #a2a2a2 !important
}
@media only screen and (max-width: 768px){
.st01 {
    margin-top: 1rem
}
.nd02 {
  margin: 1rem 0
}
}
</style>