<template>
  <div>
    <!-- navigation-bar-view -->
    <navigation-bar-view v-bind:isWhiteText="false" />
    <!-- navigation-bar-view -->

    <!-- .container -->
    <div class="container">
      <div class="col-sm-offset-3 col-sm-6 white-background">
        <h1>Privacy policy</h1>
        <ol>
          <li>
            <b>Introduction</b>
            <ol>
              <li>
                <p>We are committed to safeguarding the privacy of our website visitors; in this policy we explain how we will
                  treat your personal information.</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Credit</b>
            <ol>
              <li>
                <p>This document was created using a template from SEQ Legal (<a href="http://www.seqlegal.com">http://www.seqlegal.com</a>).</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Collecting personal information</b>
            <ol>
              <li>
                <p>We may collect, store and use the following kinds of personal information:
                  <ol type="a">
                    <li>information about your computer and about your visits to and use of this website (including your IP address,
                      geographical location, browser type and version, operating system, referral source, length of visit,
                      page views and website navigation paths);</li>
                    <li>information that you provide to us when registering with our website (including your email address);</li>
                    <li>information that you provide when completing your profile on our website (including your name, profile
                      pictures, gender, date of birth, job title and license number);</li>
                    <li>information that you provide to us for the purpose of subscribing to our email notifications and/or newsletters
                      (including your name and email address);</li>
                    <li>information that you provide to us when using the services on our website, or that is generated in the
                      course of the use of those services (including the timing, frequency and pattern of service use);</li>
                    <li>information that you post to our website for publication on the internet (including your user name, your
                      profile pictures and the content of your posts);</li>
                    <li>information contained in or relating to any communication that you send to us or send through our website
                      (including the communication content and metadata associated with the communication); and</li>
                    <li>any other personal information that you choose to send to us.</li>
                  </ol>
                </p>
              </li>
              <li>
                <p>Before you disclose to us the personal information of another person, you must obtain that person's consent
                  to both the disclosure and the processing of that personal information in accordance with this policy.</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Using personal information</b>
            <ol>
              <li>
                <p>Personal information submitted to us through our website will be used for the purposes specified in this policy
                  or on the relevant pages of the website.</p>
              </li>
              <li>
                <p>We may use your personal information to:
                  <ol type="a">
                    <li>administer our website and business;</li>
                    <li>personalise our website for you;</li>
                    <li>enable your use of the services available on our website;</li>
                    <li>send you non-marketing commercial communications;</li>
                    <li>send you email notifications that you have specifically requested;</li>
                    <li>send you our email newsletter, if you have requested it (you can inform us at any time if you no longer
                      require the newsletter);</li>
                    <li>send you marketing communications relating to our business or the businesses of carefully-selected third
                      parties which we think may be of interest to you, by post or, where you have specifically agreed to this,
                      by email or similar technology (you can inform us at any time if you no longer require marketing communications);</li>
                    <li>provide third parties with statistical information about our users (but those third parties will not be
                      able to identify any individual user from that information);</li>
                    <li>deal with enquiries and complaints made by or about you relating to our website;</li>
                    <li>keep our website secure and prevent fraud; and</li>
                    <li>verify compliance with the terms and conditions governing the use of our website (including monitoring
                      private messages sent through our website private messaging service).</li>
                  </ol>
                </p>
              </li>
              <li>
                <p>If you submit personal information for publication on our website, we will publish and otherwise use that information
                  in accordance with the licence you grant to us.</p>
              </li>
              <li>
                <p>Your privacy settings can be used to limit the publication of your information on our website, and can be adjusted
                  using privacy controls on the website.</p>
              </li>
              <li>
                <p>We will not, without your express consent, supply your personal information to any third party for the purpose
                  of their or any other third party's direct marketing.</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Disclosing personal information</b>
            <ol>
              <li>
                <p>We may disclose your personal information to any of our employees, officers, insurers, professional advisers,
                  agents, suppliers or subcontractors insofar as reasonably necessary for the purposes set out in this policy.</p>
              </li>
              <li>
                <p>We may disclose your personal information to any member of our group of companies (this means our subsidiaries,
                  our ultimate holding company and all its subsidiaries) insofar as reasonably necessary for the purposes set
                  out in this policy.</p>
              </li>
              <li>
                <p>We may disclose your personal information:
                  <ol type="a">
                    <li>to the extent that we are required to do so by law;</li>
                    <li>in connection with any ongoing or prospective legal proceedings;</li>
                    <li>in order to establish, exercise or defend our legal rights (including providing information to others for
                      the purposes of fraud prevention and reducing credit risk);</li>
                    <li>to any person who we reasonably believe may apply to a court or other competent authority for disclosure
                      of that personal information where, in our reasonable opinion, such court or authority would be reasonably
                      likely to order disclosure of that personal information.</li>
                  </ol>
                </p>
              </li>
              <li>
                <p>Except as provided in this policy, we will not provide your personal information to third parties.</p>
              </li>
            </ol>
          </li>
          <li>
            <b>International data transfers</b>
            <ol>
              <li>
                <p>We are committed to safeguarding the privacy of our website visitors; in this policy we explain how we will
                  treat your personal information.</p>
              </li>
              <li>
                <p>Information that we collect may be stored and processed in and transferred between any of the countries in
                  which we operate in order to enable us to use the information in accordance with this policy.</p>
              </li>
              <li>
                <p>Information that we collect may be transferred to the following countries which do not have data protection
                  laws equivalent to those in force in Singapore: the United States of America.</p>
              </li>
              <li>
                <p>Personal information that you publish on our website or submit for publication on our website may be available,
                  via the internet, around the world. We cannot prevent the use or misuse of such information by others.</p>
              </li>
              <li>
                <p>You expressly agree to the transfers of personal information described in this Section 6.</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Retaining personal information</b>
            <ol>
              <li>
                <p>This Section 7 sets out our data retention policies and procedure, which are designed to help ensure that we
                  comply with our legal obligations in relation to the retention and deletion of personal information.</p>
              </li>
              <li>
                <p>Personal information that we process for any purpose or purposes shall not be kept for longer than is necessary
                  for that purpose or those purposes.</p>
              </li>
              <li>
                <p>Without prejudice to Section 7.2, we will usually delete personal data falling within the categories set out
                  below at the date/time set out below:
                  <ol type="a">
                    <li>Personal data will be deleted within 6 months.</li>
                  </ol>
                </p>
              </li>
              <li>
                <p>Notwithstanding the other provisions of this Section 7, we will retain documents (including electronic documents)
                  containing personal data:
                  <ol type="a">
                    <li>to the extent that we are required to do so by law;</li>
                    <li>if we believe that the documents may be relevant to any ongoing or prospective legal proceedings; and</li>
                    <li>in order to establish, exercise or defend our legal rights (including providing information to others for
                      the purposes of fraud prevention and reducing credit risk).</li>
                  </ol>
                </p>
              </li>
            </ol>
          </li>
          <li>
            <b>Security of personal information</b>
            <ol>
              <li>
                <p>We will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration
                  of your personal information.</p>
              </li>
              <li>
                <p>We will store all the personal information you provide on our secure (password- and firewall-protected) servers.</p>
              </li>
              <li>
                <p>All electronic financial transactions entered into through our website will be protected by encryption technology.</p>
              </li>
              <li>
                <p>You acknowledge that the transmission of information over the internet is inherently insecure, and we cannot
                  guarantee the security of data sent over the internet.</p>
              </li>
              <li>
                <p>You are responsible for keeping the password you use for accessing our website confidential; we will not ask
                  you for your password (except when you log in to our website).</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Amendments</b>
            <ol>
              <li>
                <p>We may update this policy from time to time by publishing a new version on our website.</p>
              </li>
              <li>
                <p>You should check this page occasionally to ensure you are happy with any changes to this policy.</p>
              </li>
              <li>
                <p>We may notify you of changes to this policy by email or through the private messaging system on our website.</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Your rights</b>
            <ol>
              <li>
                <p>You may instruct us to provide you with any personal information we hold about you; provision of such information
                  will be subject to:
                  <ol type="a">
                    <li>the supply of appropriate evidence of your identity</li>
                  </ol>
                </p>
              </li>
              <li>
                <p>We may withhold personal information that you request to the extent permitted by law.</p>
              </li>
              <li>
                <p>You may instruct us at any time not to process your personal information for marketing purposes.</p>
              </li>
              <li>
                <p>In practice, you will usually either expressly agree in advance to our use of your personal information for
                  marketing purposes, or we will provide you with an opportunity to opt out of the use of your personal information
                  for marketing purposes.</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Third party websites</b>
            <ol>
              <li>
                <p>Our website includes hyperlinks to, and details of, third party websites.</p>
              </li>
              <li>
                <p>We have no control over, and are not responsible for, the privacy policies and practices of third parties.</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Updating information</b>
            <ol>
              <li>
                <p>Please let us know if the personal information that we hold about you needs to be corrected or updated.</p>
              </li>
            </ol>
          </li>
          <li>
            <b>Our details</b>
            <ol>
              <li>
                <p>You can contact us:
                  <ol type="a">
                    <li>by using our website contact form.</li>
                  </ol>
                </p>
              </li>
            </ol>
          </li>
        </ol>
      </div>
    </div>
    <!-- .container -->
    <!-- footer-view -->
    <footer-view />
    <!-- footer-view -->
  </div>
</template>

<script>
import FooterView from '~/components/FooterView.vue';
import NavigationBarView from '~/components/NavigationBarView.vue';

export default {
  // Components
  components: {
    FooterView,
    NavigationBarView
  }
}
</script>