<template>
  <div v-if="profile.auth0UserId">
    <!-- agent-view -->
    <agent-view v-bind:email="profile.email" v-bind:first-name="profile.firstName" v-bind:last-name="profile.lastName"
      v-bind:cea-license-number="profile.ceaLicenseNumber" v-bind:username="profile.username" 
      v-bind:auth0UserId="profile.auth0UserId" v-bind:isReadOnly="false" v-bind:isFirstUse="isFirstUse"
      v-bind:service="service" v-on:signOut="signOut">
    </agent-view><!-- agent-view -->

    <!-- agent-introduction-view -->
    <agent-introduction-view v-if="!isFirstUse" v-bind:username="profile.username" v-bind:auth0UserId="profile.auth0UserId"
      v-bind:isReadOnly="false">
    </agent-introduction-view><!-- agent-introduction-view -->

    <!-- agent-award-view -->
    <agent-award-view v-if="!isFirstUse" v-bind:username="profile.username" v-bind:auth0UserId="profile.auth0UserId"
      v-bind:isReadOnly="false">
    </agent-award-view><!-- agent-award-view -->

    <!-- agent-language-view -->
    <agent-language-view v-if="!isFirstUse" v-bind:username="profile.username" v-bind:auth0UserId="profile.auth0UserId"
      v-bind:isReadOnly="false">
    </agent-language-view><!-- agent-language-view -->

    <!-- agent-review-view -->
    <agent-review-view v-if="!isFirstUse" v-bind:username="profile.username" v-bind:auth0UserId="profile.auth0UserId"
      v-bind:isReadOnly="false">
    </agent-review-view><!-- agent-review-view -->

    <!-- footer-view -->
    <footer-view /><!-- footer-view -->
  </div>
</template>

<script>
import AgentAwardView from '~/components/agent/profile/AgentAwardView.vue';
import AgentIntroductionView from '~/components/agent/profile/AgentIntroductionView.vue';
import AgentLanguageView from '~/components/agent/profile/AgentLanguageView.vue';
import AgentReviewView from '~/components/agent/profile/AgentReviewView.vue';
import AgentView from '~/components/agent/profile/AgentView.vue';
import FooterView from '~/components/FooterView.vue';
import customLocalStorage from '~/plugins/custom-local-storage';
import { getAxiosAirlisting } from '~/plugins/axios-airlisting';

export default {
  // Components
  components: {
    AgentAwardView,
    AgentIntroductionView,
    AgentLanguageView,
    AgentReviewView,
    AgentView,
    FooterView
  },

  // Computed data
  computed: {
    // Return the service type
    service: function() {
      // Parse the service type index
      var serviceTypeIndex = parseInt(this.$route.query.service);

      // Return the service type index
      return isNaN(serviceTypeIndex) ? 0 : serviceTypeIndex;
    },

    // Return the isFirstUse flag
    isFirstUse: function() {
      // Return the isFirstUse flag
      return !!this.$route.query.firstUse;
    }
  },

  // Data
  data: function() {
    var localProfile = JSON.parse(customLocalStorage.getItem('profile'));
    return {
      axiosAirlisting: getAxiosAirlisting(this.$router),
      profile: {
        ceaLicenseNumber: localProfile.user_metadata.cea_license_number,
        email: localProfile.email,
        firstName: localProfile.user_metadata.first_name,
        lastName: localProfile.user_metadata.last_name,
        username: localProfile.username,
        auth0UserId: localProfile.user_id
      }
    };
  },

  // Verify that the user is authenticated
  created: function() {
    // Set the authenticated variable
    this.authenticated = !!customLocalStorage.getItem('id_token');

    // Redirect to the agent profile page
    if (!this.authenticated) {
      this.$router.push('agentLogin');
      return;
    }

    // Set the JWT token
    this.axiosAirlisting.defaults.headers.common['Authorization'] = "Bearer " + customLocalStorage.getItem('id_token');
  },

  // Methods
  methods: {
    // Logs the user out
    signOut: function() {
      customLocalStorage.removeItem('id_token');
      customLocalStorage.removeItem('profile');
      delete this.axiosAirlisting.defaults.headers.common['Authorization'];
      this.authenticated = false;
      this.$router.push('agentLogin');
    }
  }
}
</script>
