<template>
  <div>
    <!-- navigation-bar-view -->
    <navigation-bar-view />
    <!-- navigation-bar-view -->
    <!-- agent-search-filter-view -->
    <agent-search-filter-view v-bind:service="service" v-bind:propertyType="propertyType" v-bind:region="region"
      v-bind:priceRange="priceRange" v-bind:timeToTransact="timeToTransact"
      v-on:updateService="updateIndex('service', $event)" 
      v-on:updatePropertyType="updateIndex('propertyType', $event)" v-on:updateRegion="updateIndex('region', $event)" 
      v-on:updatePriceRange="updateIndex('priceRange', $event)" 
      v-on:updateTimeToTransact="updateIndex('timeToTransact', $event)">
    </agent-search-filter-view>
    <!-- agent-search-filter-view -->
    <!-- agent-request-invite -->
    <div v-if="agentCount != 0" class="container ">
      <div class="col-xs-12 agent-request-invite">
        No time to look for an agent? <router-link to="/agentRequest">Click here</router-link> to fill our form and we will find one for you, free of charge.
      </div>
    </div>
    <!-- agent-request-invite -->
    <!-- top-result-count -->
    <div v-if="agentCount != 0" class="top-result-count">
      {{ resultCount }}
    </div>
    <!-- top-result-count -->
    <!-- agent-search-result-view -->
    <div v-for="(agent, index) in agents">
      <agent-search-result-view v-bind:agent="agent" v-bind:agentFact="agentFacts[index]" 
        v-bind:service="service" />
    </div>
    <!-- agent-search-result-view -->
    <!-- agent-search-request-view -->
    <agent-search-request-view v-if="agentCount == 0" v-bind:hasNoFoundAgent="true" v-bind:serviceType="service" 
      v-bind:propertyType="propertyType" v-bind:region="regionName" v-bind:priceLowerRange="priceLowerRange"
      v-bind:maximumTimeToTransact="maximumTimeToTransact">
    </agent-search-request-view>
    <!-- agent-search-request-view -->
    <!-- bottom-result-count -->
    <div class="bottom-result-count" v-if="agents.length > 0">
      {{ offset + 1 }} - {{ offset + agents.length }} 
      of {{ agentCount }} result{{ (agentCount === 1) ? "" : "s" }}
    </div>
    <!-- bottom-result-count -->
    <!-- pagination-view -->
    <pagination-view v-if="agentCount > 10" v-bind:currentPage="Math.floor(offset / 10) + 1" 
      v-bind:pageCount="Math.floor(agentCount / 10) + 1" v-on:updatePage="updatePage">
    </pagination-view>
    <!-- pagination-view -->
    <!-- footer-view -->
    <footer-view />
    <!-- footer-view -->
  </div>
</template>

<script>
import AgentSearchFilterView from '~/components/search/AgentSearchFilterView.vue';
import AgentSearchRequestView from '~/components/search/AgentSearchRequestView.vue';
import AgentSearchResultView from '~/components/search/AgentSearchResultView.vue';
import FooterView from '~/components/FooterView.vue';
import NavigationBarView from '~/components/NavigationBarView.vue';
import PaginationView from '~/components/PaginationView.vue';
import { getAxiosAirlisting } from '~/plugins/axios-airlisting';
import { captureException } from '~/plugins/error-logger';

export default {
  // Components
  components: {
    AgentSearchFilterView,
    AgentSearchRequestView,
    AgentSearchResultView,
    FooterView,
    NavigationBarView,
    PaginationView
  },

  // Computed data
  computed: {
    // Return the offset
    offset: function() {
      // Check that the offset exists
      if (undefined === this.$route.query.offset)
        return 0;

      // Verify that the offset is positive
      var offsetValue = parseInt(this.$route.query.offset);
      if (!isNaN(offsetValue) && (offsetValue >= 0))
        return offsetValue;

      // Return zero if the offset is not valid
      return 0;
    },

    // Return the price range
    priceRange: function() {
      // Check that the price range exists
      if (undefined === this.$route.query.priceRange)
        return undefined;

      // Return the price range
      var index = parseInt(this.$route.query.priceRange);
      if (!isNaN(index) && (index >= 0) && (index <= 9))
        return index;

      // Return undefined if the index is not valid
      return undefined;
    },

    // Return the price lower range
    priceLowerRange: function() {
      // Check that the price range exists
      if (undefined === this.priceRange)
        return undefined;

      // Return the price lower range
      var multiplier = (3 >= this.service && 4 <= this.service) ? 1 : 500;
      switch (this.priceRange) {
        case 1:
          return 0;
        case 2:
          return 1000 * multiplier;
        case 3:
          return 2000 * multiplier;
        case 4:
          return 4000 * multiplier;
        case 5:
          return 6000 * multiplier;
        case 6:
          return 8000 * multiplier;
        case 7:
          return 10000 * multiplier;
        case 8:
          return 20000 * multiplier;
        case 9:
          return 40000 * multiplier;
        default:
          return undefined;
      }
    },

    // Return the property type
    propertyType: function() {
      // Check that the property type exists
      if (undefined === this.$route.query.propertyType)
        return undefined;

      // Return the property type
      var index = parseInt(this.$route.query.propertyType);
      if (!isNaN(index) && (index >= 0) && (index <= 3))
        return index;

      // Return undefined if the index is not valid
      return undefined;
    },

    // Return the region
    region: function() {
      // Check that the region exists
      if (undefined === this.$route.query.region)
        return undefined;

      // Return the region
      var index = parseInt(this.$route.query.region);
      if (!isNaN(index) && (index >= 0) && (index <= 5))
        return index;

      // Return undefined if the index is not valid
      return undefined;
    },

    // Return the region name
    regionName: function() {
      // Check that the region exists
      if (undefined === this.region)
        return undefined;

      // Check that the region exists
      switch (this.region) {
        case 1:
          return "central";
        case 2:
          return "west";
        case 3:
          return "east";
        case 4:
          return "north";
        case 5:
          return "north-east";
        default:
          return undefined;
      }
    },

    // Return the service
    service: function() {
      // Check that the service exists
      if (undefined === this.$route.query.service)
        return 0;

      // Return the service
      var index = parseInt(this.$route.query.service);
      if (!isNaN(index) && (index >= 0) && (index <= 3))
        return index;

      // Return 0 if the index is not valid
      return 0;
    },

    // Return the time to transact
    timeToTransact: function() {
      // Check that the time to transact exists
      if (undefined === this.$route.query.timeToTransact)
        return undefined;

      // Return the time to transact
      var index = parseInt(this.$route.query.timeToTransact);
      if (!isNaN(index) && (index >= 0) && (index <= 8))
        return index;

      // Return undefined if the index is not valid
      return undefined;
    },

    // Return the maximum time to transact
    maximumTimeToTransact: function() {
      // Check that the time to transact exists
      if (undefined === this.timeToTransact)
        return undefined;

      // Return the maximum time to transact
      switch (this.timeToTransact) {
        case 1:
          return 7;
        case 2:
          return 30;
        case 3:
          return 90;
        case 4:
          return 180;
        case 5:
          return 360;
        case 6:
          return 720;
        case 7:
          return 1080;
        case 8:
          return 3600;
        default:
          return undefined;
      }
    },

    // Return the number of results
    resultCount: function() {
      // Return loading if there is no agent count
      if (undefined === this.agentCount)
        return "Loading...";

      // Return no results if there are no results
      if (0 === this.agentCount)
        return "No results";

      // Return the number of results
      return (this.offset + 1).toString() + " - " + (this.offset + this.agents.length).toString() + " of " +
        this.agentCount.toString() + " result" + ((this.agentCount === 1) ? "" : "s");
    }
  },

  // Data
  data: function() {
    return {
      agents: [],
      agentFacts: [],
      agentCount: undefined,
      axiosAirlisting: getAxiosAirlisting(this.$router)
    }
  },

  // Watch
  watch: {
    // Update the search results
    '$route': function(to, from) {
      this.retrieveSearchResults();
    }
  },

  // Retrieve the search results
  created: function() {
    this.retrieveSearchResults();
  },

  // Methods
  methods: {
    // Retrieve the search results
    retrieveSearchResults: function() {
      // Reset the results
      this.agents = [];
      this.agentFacts = [];
      this.agentCount = undefined;

      // Retrieve the search results
      var self = this;
      this.axiosAirlisting.get(
        '/agent/search', {
          params: this.getApiParameters()
        })
        .then(function(response) {
          self.agents = response.data.agents;
          self.agentFacts = response.data.agentFacts;
          self.agentCount = response.data.count;
        })
        .catch(function(error) {
          // Set the default value if there is no result
          if ((undefined !== error.response) && (404 === error.response.status)) {
            self.agents = [];
            self.agentFacts = [];
            self.agentCount = 0;
          } else
            captureException(error);
        });
    },

    // Return the API parameters
    getApiParameters: function() {
      // Initialize the parameters
      var parameters = {};

      // Add the service type
      if (undefined !== this.service)
        parameters['serviceType'] = this.service;

      // Add the offset
      if (undefined !== this.offset)
        parameters['offset'] = this.offset.toString();

      // Add the property type
      switch (this.propertyType) {
        case 1:
          parameters['propertyType'] = 'condos';
          break;
        case 2:
          parameters['propertyType'] = 'hdb';
          break;
        case 3:
          parameters['propertyType'] = 'landed-houses';
          break;
      }

      // Add the region
      switch (this.region) {
        case 1:
          parameters['region'] = 'central';
          break;
        case 2:
          parameters['region'] = 'west';
          break;
        case 3:
          parameters['region'] = 'east';
          break;
        case 4:
          parameters['region'] = 'north';
          break;
        case 5:
          parameters['region'] = 'north-east';
          break;
      }

      // Add the price range
      if ((undefined !== this.priceRange) && (this.priceRange >= 1))
        parameters['priceRange'] = this.priceRange.toString();

      // Add the time to sell
      switch (this.timeToTransact) {
        case 1:
          parameters['timeToTransact'] = '7';
          break;
        case 2:
          parameters['timeToTransact'] = '30';
          break;
        case 3:
          parameters['timeToTransact'] = '90';
          break;
        case 4:
          parameters['timeToTransact'] = '180';
          break;
        case 5:
          parameters['timeToTransact'] = '360';
          break;
        case 6:
          parameters['timeToTransact'] = '720';
          break;
        case 7:
          parameters['timeToTransact'] = '1080';
          break;
        case 8:
          parameters['timeToTransact'] = '1800';
          break;
      }

      // Return the parameters
      return parameters;
    },

    // Retrieve the URL parameters
    getUrlParameters: function() {
      // Retrieve the parameters
      var parameters = {};
      for (var key in this.$route.query) {
        parameters[key] = this.$route.query[key];
      }

      // Return the parameters
      return parameters;
    },

    // Update an index
    updateIndex: function(parameterName, index) {
      // Build the new parameters
      var parameters = this.getUrlParameters();
      parameters[parameterName] = index.toString();

      // Reset the offset
      if (parameterName !== 'offset')
        parameters['offset'] = 0;

      // Update the parameter
      this.$router.push({
        path: 'search',
        query: parameters
      });
    },

    // Update page
    updatePage: function(a) {
      this.updateIndex('offset', (a - 1) * 10);
    }
  }
}
</script>