<template>
  <div class="display-list-video">
    <div class="container-fluid min-height-80vh manage-upload" style="margin-top:20px;">
      <div class="row path-controll">
        <ol class="breadcrumb main-bg">
          <li><i class="el-icon-monitor"></i></li>
          <li class="breadcrumb-item"><a href="">Manage Videos</a></li>
          <li class="breadcrumb-item active">Upload</li>
        </ol>
      </div>
      <el-tabs type="border-card" class="form-content upload-video" id="upload-basic">
        <el-tab-pane>
          <span slot="label">
            <i class="el-icon-upload"></i>
             Upload file
          </span>
          <el-row>
            <el-form ref="uploadForm" :model="formData" :rules="validateRules" label-width="120px">
              <div class="col-md-6">
                <el-form-item label="Title" prop="title">
                  <el-input placeholder="Title" v-model="formData.title" clearable></el-input>
                </el-form-item>

                <!-- <el-form-item label="Description" prop="description">
                          <el-input v-model="formData.description" clearable type="textarea" :autosize="{ minRows: 2, maxRows: 4}"></el-input>
                </el-form-item>-->

                <el-form-item label="Corporation" prop="companycode">
                  <el-select
                    placeholder="Corporation"
                    v-model="formData.companycode"
                    clearable
                    filterable
                    @change="handleChangeCompany($event)"
                  >
                    <el-option
                      v-for="item in listCompany"
                      :key="item.CODE"
                      :label="item.NAME"
                      :value="item.CODE"
                    />
                  </el-select>
                </el-form-item>

                <el-form-item label="Department" prop="departmentcode">
                  <el-select
                    placeholder="Department"
                    v-model="formData.departmentcode"
                    clearable
                    filterable
                    @change="handleChangeDeparment($event)"
                  >
                    <el-option
                      v-for="item in listDepartment"
                      :key="item.CODE"
                      :label="item.NAME"
                      :value="item.CODE"
                    />
                  </el-select>
                </el-form-item>

                <el-form-item label="Category" prop="categorycode">
                  <el-select 
                    placeholder="Category" 
                    v-model="formData.categorycode" 
                    clearable 
                    filterable
                  >
                    <el-option
                      v-for="item in listCategory"
                      :key="item.NAME"
                      :label="item.NAME"
                      :value="item.NAME"
                    />
                  </el-select>
                  <!-- <el-button 
                    type="primary" 
                    :disabled="btnKaizen"
                    @click="openModalContentKaizen()"
                  >
                    Details
                  </el-button> -->
                </el-form-item>

                <el-form-item label="Privacy" prop="privacy">
                  <el-select v-model="formData.privacy">
                    <el-option label="Public" value="Public"></el-option>
                    <el-option label="Private" value="Private"></el-option>
                    <el-option label="Department only" value="Department"></el-option>
                  </el-select>
                </el-form-item>
              </div>

              <div class="col-md-6">
                <el-form-item>
                  <el-upload
                    class="upload-demo"
                    :on-change="onFileChange"
                    ref="upload"
                    :auto-upload="false"
                    :show-file-list="false"
                    action="https://jsonplaceholder.typicode.com/posts/"
                  >
                    <el-button
                      slot="trigger"
                      size="small"
                      type="danger"
                      icon="el-icon-video-camera"
                    ><br>Select file (video file only)</el-button>
                  </el-upload>
                  <el-form-item label="File" v-if="this.formData.fileName">
                  <span>{{this.formData.fileName}}</span>
                </el-form-item>
                </el-form-item>
              </div>
              <div class="col-md-12 btn-upload-video">
                <el-form-item>
                  <!-- <el-input v-if="uploadSuccess" v-model="uploadedFileUrl"></el-input> -->
                  <el-input
                    v-if="uploadSuccess"
                    class="col-9"
                    style="margin-top: 10px; margin-bottom: 50px; padding-right: 15px"
                    v-model="uploadedFileUrl"
                  >
                    <el-button ref="btn" slot="append" icon="document" @click="doCopy">Copy</el-button>
                  </el-input>
                </el-form-item>
                <!-- <hr /> -->
                <el-progress v-if="uploading" :percentage="uploadPercentage"></el-progress>
                <el-form-item class="group-btn-upload">
                  <el-button class="btn-upload-mn" :loading="uploading" @click="uploadFile">Upload</el-button>
                  <a href="/" style="float: right">
                  <el-button class="btn-upload-back">Back to list</el-button>
                  </a>
                  <el-button type="danger" v-if="uploading" @click="handleCancelUpload">Cancel</el-button>
                </el-form-item>
              </div>
            </el-form>
          </el-row>
        </el-tab-pane>

        <el-tab-pane>
          <span slot="label">
            <i class="el-icon-link"></i> Share external link
          </span>
          <el-row>
            <el-form
              ref="sharelinkForm"
              :model="sharelinkFormData"
              :rules="sharelinkValidateRules"
              label-width="120px"
            >
              <div class="col-md-6">
                <el-form-item label="Video link" prop="link">
                  <el-input
                    placeholder="Video link"
                    v-model="sharelinkFormData.link"
                    clearable
                    @blur="fetchYoutubeInfo"
                  ></el-input>
                </el-form-item>

                <el-form-item label="Title" prop="title">
                  <el-input placeholder="Title" v-model="sharelinkFormData.title" clearable></el-input>
                </el-form-item>

                <el-form-item label="Corporation" prop="companycode">
                  <el-select
                    placeholder="Corporation"
                    v-model="sharelinkFormData.companycode"
                    clearable
                    filterable
                    @change="handleChangeCompany($event)"
                  >
                    <el-option
                      v-for="item in listCompany"
                      :key="item.CODE"
                      :label="item.NAME"
                      :value="item.CODE"
                    />
                  </el-select>
                </el-form-item>
              </div>
              <div class="col-md-6">
                <el-form-item label="Department" prop="departmentcode">
                  <el-select
                    placeholder="Department"
                    v-model="sharelinkFormData.departmentcode"
                    clearable
                    filterable
                  >
                    <el-option
                      v-for="item in listDepartment"
                      :key="item.CODE"
                      :label="item.NAME"
                      :value="item.CODE"
                    />
                  </el-select>
                </el-form-item>

                <el-form-item label="Privacy" prop="privacy">
                  <el-select v-model="sharelinkFormData.privacy">
                    <el-option label="Public" value="Public"></el-option>
                    <el-option label="Private" value="Private"></el-option>
                    <el-option label="Department only" value="Department"></el-option>
                  </el-select>
                </el-form-item>
              </div>
              <div class="col-md-12 btn-upload-video">
                <el-form-item>
                  <el-input v-if="sharelinkSuccess" v-model="sharelinkFileUrl"></el-input>
                </el-form-item>
                <!-- <hr /> -->
                <el-form-item class="group-btn-upload">
                  <el-button class="btn-upload-mn" @click="sharelink">Share</el-button>
                  <a href="/" style="float: right">
                    <el-button type="plain" class="btn-upload-back">Back to list</el-button>
                  </a>
                </el-form-item>
              </div>
            </el-form>
          </el-row>
        </el-tab-pane>

        <el-tab-pane>
          <span slot="label">
            <i class="el-icon-scissors"></i> Video cutting tool
          </span>
          <el-row  
            v-loading="downloading"
            element-loading-text="Downloading....."
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)" >
            <el-form :inline="true" ref="uploadForm" :model="dataForm" label-width="120px">
              <div class="col-md-12">
                <el-form-item>
                  <el-upload
                    class="upload-demo"
                    :on-change="onFileChangeVideoLarge"
                    ref="upload"
                    :auto-upload="false"
                    :show-file-list="false"
                    action="https://jsonplaceholder.typicode.com/posts/"
                  >
                    <el-button
                      slot="trigger"
                      type="primary"
                    >Select file (video file only)</el-button>
                  </el-upload>
                </el-form-item>
                <el-form-item label="File" v-if="this.dataForm.fileName" style="z-index: 1">
                  <span>{{this.dataForm.fileName}}</span>
                </el-form-item>
              </div>
              <div class="col-md-6" style="min-height: 480px">
                <div id="div1">
                  <div id="slider-connect"></div>
                </div>
                <div id="video_select" v-if="displayVideo">
                  <video :src="srcVideo" controls id="vid_upload"></video>
                </div>
                <div v-if="progress" class="center">
                  <el-slider 
                    v-model="valSlider" 
                    :format-tooltip="formatSlider" 
                    @change="handleSlider" 
                    class="point-slider">

                  </el-slider>
                  <br />
                  <el-button-group>
                    <el-button
                      @click="addPoint"
                      size="small"
                      type="info"
                    >Add point</el-button>
                    <el-button
                      v-if="visibleRemove"
                      @click="removePoint"
                      size="small"
                      type="info"
                    >Remove point</el-button>
                    <el-button
                      :disabled="disabledCrop ? true : false"
                      type="info"
                      size="small"
                      @click="cutVideo"
                    >Crop</el-button>
                  </el-button-group>
                </div>
              </div>
              <a href="./videos/rain.mp4" download id='downloadVideo' style="vis">
                Download
              </a>

              <div class="col-md-6">
                <div id="add_video"></div>
              </div>
            </el-form>
          </el-row>
        </el-tab-pane>
      </el-tabs>
    </div>
    <!-- modal upload video crop -->
    <el-dialog
      title="Upload video"
      :visible="visibleSync"
      class="modal-upload"
      :before-close="closeModal"
      width="60%"
    >
      <el-row class="search-wrapper-home" :gutter="10">
        <el-form
          :inline="true"
          ref="uploadForm"
          :model="dataForm"
          :rules="validateRules"
          label-width="120px"
        >
          <div class="col-md-6">
            <el-form-item label="Title" prop="title">
              <el-input placeholder="Title" v-model="dataForm.title" clearable></el-input>
            </el-form-item>

            <el-form-item label="Corporation" prop="companycode">
              <el-select
                placeholder="Corporation"
                v-model="dataForm.companycode"
                clearable
                @change="handleChangeCompany($event)"
              >
                <el-option
                  v-for="item in listCompany"
                  :key="item.CODE"
                  :label="item.NAME"
                  :value="item.CODE"
                />
              </el-select>
            </el-form-item>

            <el-form-item label="Department" prop="departmentcode">
              <el-select
                placeholder="Department"
                v-model="dataForm.departmentcode"
                clearable
                @change="handleChangeDeparmentMoreVideo($event)"
              >
                <el-option
                  v-for="item in listDepartment"
                  :key="item.CODE"
                  :label="item.NAME"
                  :value="item.CODE"
                />
              </el-select>
            </el-form-item>
          </div>
          <div class="col-md-6">
            <el-form-item label="Category" prop="categorycode">
              <el-select placeholder="Category" v-model="dataForm.categorycode" clearable>
                <el-option
                  v-for="item in listCategory"
                  :key="item.NAME"
                  :label="item.NAME"
                  :value="item.NAME"
                />
              </el-select>
            </el-form-item>
            <el-form-item label="Privacy" prop="privacy">
              <el-select v-model="dataForm.privacy">
                <el-option label="Public" value="Public"></el-option>
                <el-option label="Private" value="Private"></el-option>
                <el-option label="Department only" value="Department"></el-option>
              </el-select>
            </el-form-item>
            
          </div>
          <div class="col-md-12">
            <el-form-item class="width100">
              <el-input
                v-if="uploadSuccess"
                class="col-9"
                style="margin-top: 10px; padding-right: 15px"
                v-model="uploadedFileUrl"
                readonly
              >
                <el-button ref="btn" slot="append" icon="document" @click="doCopy">Copy</el-button>
              </el-input>
            </el-form-item>
          </div>

          <div class="col-md-12 btn-upload-video">
            <!-- <hr /> -->
            <el-progress v-if="uploading" :percentage="uploadPercentage"></el-progress>
            <el-form-item class="group-btn-upload">
              <el-button type="success" :loading="uploading" @click="uploadFileCrop">Upload</el-button>
              <el-button style="float: right" type="plain" @click="closeModal">Close</el-button>
              <el-button type="danger" v-if="uploading" @click="handleCancelUpload">Cancel</el-button>
            </el-form-item>
          </div>
        </el-form>
      </el-row>
    </el-dialog>

    <!-- modal when select category is kaizen -->
    <!-- <el-dialog
      title="Kaizen details"
      :visible="visibleKaizen"
      class="modal-upload"
      :before-close="closeModalKaizen"
      width="80%"
    >
      <el-form ref="uploadForm" :model="formData" :rules="validateRules">
        <el-row>
          <div class="col-md-3">
            <el-form-item prop="sub">
              <el-select
                placeholder="SUB"
                v-model="formData.sub"
                clearable
                filterable
              >
                <el-option
                  v-for="item in listSub"
                  :key="item.K_CODE"
                  :label="item.K_NAME"
                  :value="item.K_CODE"
                />
              </el-select>
            </el-form-item>
          </div>
          <div class="col-md-3">
            <el-form-item prop="opgroup">
              <el-select
                placeholder="Op Group"
                v-model="formData.opgroup"
                clearable
                filterable
                @change="handleChangeOpGroup($event)"
              >
                <el-option
                  v-for="item in listOpGroup"
                  :key="item.K_CODE"
                  :label="item.K_NAME"
                  :value="item.K_CODE"
                />
              </el-select>
            </el-form-item>
          </div>
          <div class="col-md-3">
            <el-form-item prop="opdetail">
              <el-select
                placeholder="Op Detail"
                v-model="formData.opdetail"
                clearable
                filterable
                @change="handleChangeOpDetail($event)"
              >
                <el-option
                  v-for="item in listOpDetail"
                  :key="item.K_CODE"
                  :label="item.K_NAME"
                  :value="item.K_CODE"
                />
              </el-select>
            </el-form-item>
          </div>
          <div class="col-md-3">
            <el-form-item prop="opsubgroup">
              <el-select
                placeholder="Op Sub Group"
                v-model="formData.opsubgroup"
                clearable
                filterable
              >
                <el-option
                  v-for="item in listOpSubGroup"
                  :key="item.K_CODE"
                  :label="item.K_NAME"
                  :value="item.K_CODE"
                />
              </el-select>
            </el-form-item>
          </div>
        </el-row>
        <el-row :gutter="10">
          <div class="col-md-3">
            <el-form-item prop="kaizentype">
              <el-select
                placeholder="Kaizen type"
                v-model="formData.kaizentype"
                clearable
                filterable
              >
                <el-option
                  v-for="item in listKaizenType"
                  :key="item.K_CODE"
                  :label="item.K_NAME"
                  :value="item.K_CODE"
                />
              </el-select>
            </el-form-item>
          </div>
          <div class="col-md-3">
            <el-form-item prop="erctype">
              <el-select
                placeholder="ERC type"
                v-model="formData.erctype"
                clearable
                filterable
              >
                <el-option
                  v-for="item in listERCType"
                  :key="item.K_CODE"
                  :label="item.K_NAME"
                  :value="item.K_CODE"
                />
              </el-select>
            </el-form-item>
          </div>
          <div class="col-md-2">
            <el-form-item prop="kaizenlevel">
              <el-select
                placeholder="Kaizen level"
                v-model="formData.kaizenlevel"
                clearable
                filterable
              >
                <el-option
                  v-for="item in listKaizenLevel"
                  :key="item.K_CODE"
                  :label="item.K_NAME"
                  :value="item.K_CODE"
                />
              </el-select>
            </el-form-item>
          </div>
          <div class="col-md-2">
            <el-form-item prop="machine">
              <el-input placeholder="Machine" v-model="formData.empid" machine></el-input>
            </el-form-item>
          </div>
          <div class="col-md-2">
            <el-form-item prop="tools">
              <el-input placeholder="Tools" v-model="formData.tools" clearable></el-input>
            </el-form-item>
          </div>
        </el-row>
        <el-row :gutter="10">
          <div class="col-md-3">
            <el-form-item prop="empid">
              <el-input placeholder="EMP ID" v-model="formData.empid" clearable></el-input>
            </el-form-item>
          </div>
          <div class="col-md-3">
            <el-form-item prop="empname">
              <el-input placeholder="EMP NAME" v-model="formData.empname" clearable></el-input>
            </el-form-item>
          </div>
          <div class="col-md-3">
            <el-form-item prop="corporation">
              <el-input placeholder="Corporation" v-model="formData.corporation" clearable></el-input>
            </el-form-item>
          </div>
          <div class="col-md-3">
            <el-form-item prop="department">
              <el-input placeholder="Department" v-model="formData.department" clearable></el-input>
            </el-form-item>
          </div>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button class="floatLeft" type="info" @click="closeModalKaizen">Close</el-button>
        // <el-button class="floatLeft" @click="resetKaizentContent">Reset</el-button>
        <el-button type="success" @click="handleOkKaizen">OK</el-button>
      </div>
      
    </el-dialog> -->

    <!-- <el-dialog
      title="Warning"
      :visible.sync="confirmInfo"
      width="30%"
      class="warning">
      <span>Are you sure have entered the correct content?</span>
      <span slot="footer" class="dialog-footer">
        <el-button type="info" class="floatLeft" @click="cancelConfirmKaizen">Cancel</el-button>
        <el-button type="success" @click="confirmKaizen">Confirm</el-button>
      </span>
    </el-dialog> -->
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import uuid from "uuid/v4";
import noUiSlider from "nouislider";
import "nouislider/distribute/nouislider.css";
import download from "downloadjs";

export default {
  layout: "default",
  middleware: "auth",
  data() {
    return {
      listCompany: [],
      listDepartment: [],
      listCategory: [],
      selectedFile: undefined,
      selectedFileUrl: undefined,
      uploadPct: "---",
      baseDomain: "",
      fileId: undefined,
      uploadedFileUrl: undefined,
      formData: {
        fileName: "",
        title: "",
        description: "",
        privacy: "Public",
        companycode: "",
        departmentcode: "",
        catalogue: "",
        categorycode: "",
        opdetail: "",
        opsubgroup: ""
      },
      sharelinkFormData: {
        link: "",
        title: "",
        privacy: "Public",
        companycode: "",
        departmentcode: "",
        catalogue: "video"
      },
      uploadPercentage: 0,
      uploading: false,
      uploadSuccess: false,
      sharelinkSuccess: false,
      isCancelUpload: false,
      validateRules: {
        title: [
          {
            required: true,
            message: "Please input Title",
            trigger: "blur"
          }
        ],
        companycode: [
          {
            required: true,
            message: "Please choose Corporation",
            trigger: "change"
          }
        ],
        departmentcode: [
          {
            required: true,
            message: "Please choose Department",
            trigger: "change"
          }
        ]
      },
      sharelinkValidateRules: {
        link: [
          {
            required: true,
            message: "Please input Video link",
            trigger: "blur"
          }
        ],
        title: [
          {
            required: true,
            message: "Please input Title",
            trigger: "change"
          }
        ],
        companycode: [
          {
            required: true,
            message: "Please choose Corporation",
            trigger: "change"
          }
        ],
        departmentcode: [
          {
            required: true,
            message: "Please choose Department",
            trigger: "change"
          }
        ]
      },
      dataForm: {
        fileName: "",
        title: "",
        privacy: "Public",
        companycode: "",
        departmentcode: "",
        catalogue: "video",
        categorycode: "",
        timeStart: null,
        timeEnd: null,
        id: null
      },
      second_end: null,
      value: [100, 600],
      progress: false,
      listVideo: [],
      listVideoCount: [],
      visibleSync: false,
      pointStart: [0],
      connect: [true, true],
      pointRemove: null,
      visibleRemove: false,
      displayVideo: false,
      srcVideo: null,
      arrTimePoint: [],
      disabledCrop: false,
      formDownload: {
        timeStart: null,
        timeEnd: null,
        catalogue: "video"
      },
      valSlider: 0,
      downloading: false,
      visibleKaizen: false,
      btnKaizen: true,
      confirmInfo: false,
      listSub: [],
      listOpGroup: [],
      listOpDetail: [],
      listOpSubGroup: [],
      listKaizenType: [],
      listERCType: [],
      listKaizenLevel: []
    };
  },
  async asyncData(context) {
    // console.info(context);

    var masterResponse = await context.$axios.get("masterdatas");
    // console.log(masterResponse);

    return {
      listCompany: masterResponse.data.Result.ListCompany
      // listDepartment: masterResponse.data.Result.ListDepartment
    };
  },
  beforeDestroy() {
    // console.info("destroy");
    this.isCancelUpload = true;
  },
  computed: {
    ...mapGetters(["loggedInUser"])
  },
  created() {
    // console.log(mapGetters(["loggedInUser"]));
  },

  methods: {
    submitUpload() {
      // this.$refs.upload.submit();
    },
    onFileChange(file, fileList) {
      if (this.isVideo(file)) {
        this.selectedFile = file;
        this.formData.fileName = file.name;
        this.formData.catalogue = "video";
      } else {
        this.$message({
          type: "warning",
          message: "Please select file is video.....!"
        });
      }
    },
    handleCancelUpload() {
      this.isCancelUpload = true;
    },
    async uploadFile() {
      var isValidateSuccess = true;
      this.$refs["uploadForm"].validate(valid => {
        if (!valid) {
          isValidateSuccess = false;
          return false;
        }
      });

      if (!isValidateSuccess) return;

      if (!this.selectedFile) return;

      // console.info("start upload")

      try {
        this.uploading = true;
        this.uploadSuccess = false;
        this.isCancelUpload = false;

        const key = uuid();

        // console.log(this.selectedFile);

        const chunkSize = 500000;
        var totalPart = Math.ceil(this.selectedFile.size / chunkSize);
        // console.log("Total part: " + totalPart);
        // console.log("File size: " + this.selectedFile.size);

        for (let partIndex = 1; partIndex <= totalPart; partIndex++) {
          if (this.isCancelUpload) {
            return;
          }
          var startIndex = (partIndex - 1) * chunkSize;
          var endIndex = startIndex + chunkSize;
          if (endIndex >= this.selectedFile.size)
            endIndex = this.selectedFile.size - 1;
          const chunk = this.selectedFile.raw.slice(startIndex, endIndex);

          let formData = new FormData();
          formData.append("FILE", chunk);
          formData.append("KEY", key);
          formData.append("FILENAME", this.selectedFile.name);
          formData.append("TITLE", this.formData.title);
          formData.append("PartIndex", partIndex);
          formData.append("TotalPart", totalPart);
          formData.append("CompanyCode", this.formData.companycode);
          formData.append("TeamCode", this.formData.departmentcode);
          // formData.append("Description", this.formData.description);
          formData.append("Description", "ACB");
          formData.append("privacy", this.formData.privacy);
          formData.append("Catalogue", this.formData.catalogue);
          formData.append("Category", this.formData.categorycode);

          var response = await this.$axios.post(`pkvideos`, formData, {
            headers: {
              "Content-Type": "multipart/form-data"
            },
            progress: false
          });
          // JSON responses are automatically parsed.
          // console.log(response);
          this.uploadPercentage = parseInt(
            ((100 * partIndex) / totalPart).toFixed(0)
          );
          if (response.data && response.data.Result) {
            this.fileId = response.data.Result.FILEID;

            // console.info(this);

            // this.uploadedFileUrl = this.$route.path + '/video/' + this.fileId;
            this.uploadedFileUrl =
              "http://203.113.146.146:7777/play-video?id=" + this.fileId;
            // this.uploadedFileUrl = 'http://video.pungkookvn.com:7777/video/' + this.fileId;
            // this.uploadedFileUrl =
            //   "http://localhost:3000/play-video?id=" + this.fileId;
            this.uploadSuccess = true;
          }
        }
      } catch (error) {
        console.log(error);
      } finally {
        this.uploading = false;
        this.uploadPercentage = 0; // reset
      }
    },
    async fetchYoutubeInfo() {
      if (this.sharelinkFormData.title) return; // đã dc input

      var link = this.sharelinkFormData.link;
      if (!link) return;

      try {
        var response = await this.$axios.post(`youtubes/info`, {
          link: link
        });

        if (response.data && response.data.Result) {
          this.sharelinkFormData.title = response.data.Result.Title;
        }
      } catch (error) {}
    },
    async sharelink() {
      var isValidateSuccess = true;
      this.$refs["sharelinkForm"].validate(valid => {
        if (!valid) {
          isValidateSuccess = false;
          return false;
        }
      });

      if (!isValidateSuccess) return;
      // console.info("start share")
      try {
        this.sharelinkSuccess = false;
        // console.log(this.sharelinkFormData.link);
        // console.log(this.sharelinkFormData.title);
        // console.log(this.sharelinkFormData.privacy);
        // console.log(this.sharelinkFormData.companycode);
        // console.log(this.sharelinkFormData.departmentcode);
        // return false;

        var response = await this.$axios.post(
          `pkvideos/sharelink`,
          this.sharelinkFormData
        );

        if (response.data && response.data.Result) {
          this.fileId = response.data.Result.FILEID;

          // this.uploadedFileUrl = this.$route.path + '/video/' + this.fileId;
          this.sharelinkFileUrl =
            " http://203.113.146.146:7777/play-video?id=" + this.fileId;
          // this.sharelinkFileUrl = 'http://video.pungkookvn.com:7777/video/' + this.fileId;
          // this.sharelinkFileUrl =
          //   "http://localhost:3000/play-video?id=" + this.fileId;
          this.sharelinkSuccess = true;
        }
      } catch (error) {
        console.log(error);
      } finally {
        this.uploading = false;
        this.uploadPercentage = 0; // reset
      }
    },
    /*----- Code by Dinh Van -----*/
    // when change select company will call function this to get list department
    async handleChangeCompany(event) {
      this.formData.departmentcode = "";
      this.formData.categorycode = "";
      // disable btn kaizen contents
      this.btnKaizen = true;
      var list = await this.$axios.get("masterdatas", {
        params: { CompanyCode: event }
      });
      this.listDepartment = list.data.Result.ListDepartment;
    },
    async handleChangeDeparment(event) {
      if (event) {
        this.formData.categorycode = "";
        this.btnKaizen = true;
        var list = await this.$axios.get("masterdatas", {
          params: {
            CompanyCode: this.formData.companycode,
            DepartmentCode: event
          }
        });
        // this.listCategory = list.data.Result.ListCategory;
        // remove Actual Production Video of deparment production
        this.listCategory = list.data.Result.ListCategory.filter(function(item){
          if(item.NAME != 'Actual Production Video' && item.NAME != 'Kaizen') {
            return item;
          }
        });
      } else {
        this.listCategory = [];
      }
    },
    async handleChangeDeparmentMoreVideo(event) {
      if (event) {
        var list = await this.$axios.get("masterdatas", {
          params: {
            CompanyCode: this.dataForm.companycode,
            DepartmentCode: event
          }
        });
        // this.listCategory = list.data.Result.ListCategory;
        // remove Actual Production Video of deparment production
        this.listCategory = list.data.Result.ListCategory.filter(function(item){
          if(item.NAME != 'Actual Production Video') {
            return item;
          }
        });
        
      } else {
        this.listCategory = [];
      }
    },
    // check file select when upload is video
    isVideo(filename) {
      var parts = filename.name.split(".")[1];
      switch (parts.toLowerCase()) {
        case "m4v":
        case "avi":
        case "mpg":
        case "mp4":
        case "mov":
        case "flv":
        case "f4v":
        case "f4p":
        case "f4a":
        case "f4b":
        case "wmv":
          // etc
          return true;
      }
      return false;
    },
    changeSrcVideo(src) {
      this.displayVideo = true;
      this.srcVideo = src;
    },
    // click select file large
    async onFileChangeVideoLarge(file, fileList) {
      document.getElementById("add_video").innerHTML = "";
      this.resetSlider();
      const objectURL = URL.createObjectURL(file.raw);
      this.progress = true;
      this.valSlider = 0;
      // check file is video
      if (this.isVideo(file)) {
        this.selectedFile = file;
        this.dataForm.fileName = file.name;
        this.dataForm.catalogue = "video";
      } else {
        this.$message({
          type: "warning",
          message: "Please select file is video.....!"
        });
      }

      await this.changeSrcVideo(objectURL);
      await this.createSlider();
      // move point red theo current time
      let video = document.getElementById("vid_upload");
      video.addEventListener('timeupdate', (event) => {
        this.valSlider = this.convertTimeToSlider(video.currentTime)
      });
    },
    // convert seconds to time
    convertSecondsToTime(timeInSeconds) {
      var pad = function(num, size) {
          return ("000" + num).slice(size * -1);
        },
        time = parseFloat(timeInSeconds).toFixed(3),
        hours = Math.floor(time / 60 / 60),
        minutes = Math.floor(time / 60) % 60,
        seconds = Math.floor(time - minutes * 60),
        milliseconds = time.slice(-3);

      return pad(hours, 2) + ':' + pad(minutes, 2) + ':' + pad(seconds, 2) + ',' + pad(milliseconds, 3);
      // return pad(hours, 2) + ":" + pad(minutes, 2) + ":" + pad(seconds, 2);
    },
    convertTimeToSeconds(strTime) {
      var a = strTime.split(":");
      var b = a[2].split(",");
      // minutes are worth 60 seconds. Hours are worth 60 minutes.
      // var seconds = +a[0] * 60 * 60 + +a[1] * 60 + +a[2];
      var seconds = +a[0] * 60 * 60 + +a[1] * 60 + +b[0]+ +b[1] / 1000 ;
      return seconds;
    },
    doCopy() {
      this.$copyText(this.uploadedFileUrl);
    },
    formatTooltip(val) {
      var duration = document.getElementById("vid_upload").duration;
      if (duration) {
        var time_return = (val * duration) / 100;
        return this.convertSecondsToTime(time_return);
      }
    },
    formatSeccondToPoint(time) {
      var duration = document.getElementById("vid_upload").duration;
      if (duration) {
        var point = (time * 100) / duration;
        return point;
      }
    },
    cutVideo() {
      var th = this;
      this.listVideo = [];
      document.getElementById("add_video").innerHTML = "";

      // add point first and last
      var duration = document.getElementById("vid_upload").duration;
      this.arrTimePoint.unshift("00:00:00,000");
      this.arrTimePoint.push(this.convertSecondsToTime(duration));
      // create object video and add list video
      this.arrTimePoint.map((key, index) => {
        const obj = {};
        obj.id = index;
        obj.start = key;
        obj.end = this.arrTimePoint[index + 1];
        if (this.arrTimePoint[index + 1]) {
          this.listVideo.push(obj);
        }
      });
      
      this.listVideo.map((k, idx) => {
        // add video
        // var para = document.createElement("el-form-item");
        // para.setAttribute("class", "form-video");
        var video = document.createElement("VIDEO");
        video.setAttribute("src", th.srcVideo);
        video.setAttribute("width", "240");
        video.setAttribute("height", "auto");
        video.setAttribute("controls", "controls");
        video.setAttribute("class", "video-cut");
        video.setAttribute("id", idx);

        video.currentTime = th.convertTimeToSeconds(k.start);
        var time_stop = th.convertTimeToSeconds(k.end);
        video.addEventListener("timeupdate", function() {
          if (this.currentTime >= time_stop) {
            this.pause();
          }
        });
        // end add video

        // add icon delete
        var iconDelete = document.createElement("i");
        iconDelete.className = "fa fa-trash";
        iconDelete.id = "delete" + idx;
        // delete video after click icon trash
        iconDelete.addEventListener("click", function() {
          var id_noVideo = parseInt(this.id.replace(/^\D+/g, ""));
          var maxIdx = 0;
          for (var i = 0; i < th.listVideo.length; i++) {
            if (th.listVideo[i].id === id_noVideo) {
              maxIdx = i;
            }
          }
          var index = maxIdx + 1;
          th.$confirm(
            "Sure to delete the number video " + index + " ?",
            "Warning",
            {
              confirmButtonText: "OK",
              cancelButtonText: "Cancel",
              type: "warning"
            }
          )
            .then(() => {
              // remove object in list video
              let removeIndex = th.listVideo
                .map(function(e) {
                  return e.id;
                })
                .indexOf(id_noVideo);
              th.listVideo.splice(removeIndex, 1);
              // delete element video and icon trash
              // var el_vid = document.getElementById(id_noVideo);
              // var el_del = document.getElementById(this.id);
              // var el_up = document.getElementById("upload" + id_noVideo);
              // var el_noVid = document.getElementById("noVideo" + id_noVideo);
              // var el_down = document.getElementById("download" + id_noVideo);
              var tab = document.getElementById("myTable" + id_noVideo);
              // el_vid.remove();
              // el_del.remove();
              // el_up.remove();
              // el_noVid.remove();
              // el_down.remove();
              tab.remove();
              // set again number video after delete
              document
                .querySelectorAll(".number_video")
                .forEach(function(key, index) {
                  key.innerHTML = index + 1;
                });
              th.$message({
                type: "success",
                message: "Delete completed"
              });
              // console.log(th.listVideo)
            })
            .catch(() => {
              th.$message({
                type: "info",
                message: "Delete canceled"
              });
            });
        });

        // add button upload
        var iconUpload = document.createElement("i");
        iconUpload.className = "fa fa-upload";
        iconUpload.id = "upload" + idx;
        // display modal upload video crop
        iconUpload.addEventListener("click", function(event) {
          th.visibleSync = true;
          th.dataForm.timeStart = k.start;
          th.dataForm.timeEnd = k.end;
          th.dataForm.id = idx;
        });

        // add icon check
        var iconCheck = document.createElement("i");
        iconCheck.className = "fa fa-check";
        iconCheck.id = "checked" + idx;

        // add icon download
        var iconDownload = document.createElement("i");
        iconDownload.className = "fa fa-download";
        iconDownload.id = "download" + idx;
        iconDownload.addEventListener("click", function(event) {
          th.formDownload.timeStart = k.start;
          th.formDownload.timeEnd = k.end;
          th.handleDownloadVideo();
        });

        // add no. video
        var noVid = document.createElement("label");
        noVid.className = "number_video";
        noVid.id = "noVideo" + idx;
        var textnode = document.createTextNode(idx + 1);
        noVid.appendChild(textnode);

        // add time start
        var sartVid = document.createElement("label");
        sartVid.className = "start_video";
        sartVid.id = "sartVid" + idx;
        var textStart = document.createTextNode(k.start);
        sartVid.appendChild(textStart);

        // add time end
        var endVid = document.createElement("label");
        endVid.className = "end_video";
        endVid.id = "endVid" + idx;
        var textEnd = document.createTextNode(k.end);
        endVid.appendChild(textEnd);

        // add element
        // para.appendChild(noVid);
        // para.appendChild(video);
        // para.appendChild(iconDelete);
        // para.appendChild(iconUpload);
        // para.appendChild(iconDownload);
        // para.appendChild(iconCheck);
        // para.appendChild(sartVid);

        var x = document.createElement("TABLE");
        x.setAttribute("id", "myTable"+idx);
        var element = document.getElementById("add_video");
        element.appendChild(x);

        var y = document.createElement("TR");
        y.setAttribute("id", "myTr"+idx);
        document.getElementById("myTable"+idx).appendChild(y);

        var z1 = document.createElement("TD");
        var z2 = document.createElement("TD");
        var z3 = document.createElement("TD");
        
        // create table in td of table have id is myTable
        var tb = document.createElement("TABLE");
        tb.setAttribute("id", "tb"+idx);
        tb.setAttribute("class", "tableChil");
        z3.appendChild(tb);

        z1.appendChild(noVid);
        z2.appendChild(video);
        
        document.getElementById("myTr"+idx).appendChild(z1);
        document.getElementById("myTr"+idx).appendChild(z2);
        document.getElementById("myTr"+idx).appendChild(z3);

        var rowTb2 = document.createElement("TR");
        rowTb2.setAttribute("id", "trTb2"+idx);
        document.getElementById("tb"+idx).appendChild(rowTb2);
        var col_1 = document.createElement("TD");
        var col_2 = document.createElement("TD");
        var col_3 = document.createElement("TD");
        var spa = document.createTextNode("-");
        col_1.appendChild(sartVid);
        col_2.appendChild(spa);
        col_3.appendChild(endVid);
        document.getElementById("trTb2"+idx).appendChild(col_1);
        document.getElementById("trTb2"+idx).appendChild(col_2);
        document.getElementById("trTb2"+idx).appendChild(col_3);

        var rowTb = document.createElement("TR");
        rowTb.setAttribute("id", "trTb"+idx);
        document.getElementById("tb"+idx).appendChild(rowTb);

        var col1 = document.createElement("TD");
        var col2 = document.createElement("TD");
        var col3 = document.createElement("TD");
        col1.appendChild(iconDelete);
        col2.appendChild(iconUpload);
        col2.appendChild(iconCheck);
        col3.appendChild(iconDownload);
        document.getElementById("trTb"+idx).appendChild(col1);
        document.getElementById("trTb"+idx).appendChild(col2);
        document.getElementById("trTb"+idx).appendChild(col3);

       
        // element.appendChild(para);
        this.disabledCrop = true;
      });
    },
    // check obj in array
    containsObject(obj, list) {
      for (var i = 0; i < list.length; i++) {
        if (list[i].start === obj.start && list[i].end === obj.end) {
          return true;
        }
      }
      return false;
    },
    // upload video crop
    async uploadFileCrop() {
      var isValidateSuccess = true;
      this.$refs["uploadForm"].validate(valid => {
        if (!valid) {
          isValidateSuccess = false;
          return false;
        }
      });

      if (!isValidateSuccess) return;

      if (!this.selectedFile) return;

      // console.info("start upload")

      try {
        this.uploading = true;
        this.uploadSuccess = false;
        this.isCancelUpload = false;

        const key = uuid();

        const chunkSize = 500000;
        var totalPart = Math.ceil(this.selectedFile.size / chunkSize);
        // console.log("Total part: " + totalPart);
        // console.log("File size: " + this.selectedFile.size);
        // return false;

        for (let partIndex = 1; partIndex <= totalPart; partIndex++) {
          if (this.isCancelUpload) {
            return;
          }
          var startIndex = (partIndex - 1) * chunkSize;
          var endIndex = startIndex + chunkSize;
          if (endIndex >= this.selectedFile.size)
            endIndex = this.selectedFile.size - 1;
          const chunk = this.selectedFile.raw.slice(startIndex, endIndex);

          let timeStart = this.dataForm.timeStart.replace(",", ".");
          let timeEnd = this.dataForm.timeEnd.replace(",", ".");
          let formData = new FormData();
          formData.append("FILE", chunk);
          formData.append("KEY", key);
          formData.append("FILENAME", this.selectedFile.name);
          formData.append("TITLE", this.dataForm.title);
          formData.append("PartIndex", partIndex);
          formData.append("TotalPart", totalPart);
          formData.append("CompanyCode", this.dataForm.companycode);
          formData.append("TeamCode", this.dataForm.departmentcode);
          formData.append("privacy", this.dataForm.privacy);
          formData.append("Catalogue", this.dataForm.catalogue);
          formData.append("Category", this.dataForm.categorycode);
          formData.append("ListVideo", this.listVideo);
          formData.append("TimeStart", timeStart);
          formData.append("TimeEnd", timeEnd);

          var response = await this.$axios.post(
            "pkvideos/more-video",
            formData,
            {
              headers: {
                "Content-Type": "multipart/form-data"
              },
              progress: false
            }
          );
          // JSON responses are automatically parsed.
          // console.log(response.data);
          // console.log(response.data.Result);
          this.uploadPercentage = parseInt(
            ((100 * partIndex) / totalPart).toFixed(0)
          );
          if (response.data && response.data.Result) {
            this.fileId = response.data.Result.FILEID;

            // display none icon delete, upload and inherit icon check
            document.getElementById("delete" + this.dataForm.id).style.display =
              "none";
            document.getElementById("upload" + this.dataForm.id).style.display =
              "none";
              document.getElementById("download" + this.dataForm.id).style.display =
              "none";
            document.getElementById(
              "checked" + this.dataForm.id
            ).style.display = "inherit";

            // this.uploadedFileUrl = this.$route.path + '/video/' + this.fileId;
            this.uploadedFileUrl =
              "http://203.113.146.146:7777/play-video?id=" + this.fileId;
            // this.uploadedFileUrl = 'http://video.pungkookvn.com:7777/video/' + this.fileId;
            // this.uploadedFileUrl =
            //   "http://localhost:3000/play-video?id=" + this.fileId;
            this.uploadSuccess = true;
          }
        }
      } catch (error) {
        console.log(error);
      } finally {
        this.uploading = false;
        this.uploadPercentage = 0; // reset
      }
    },
    closeModal() {
      this.visibleSync = false;
      this.reset();
    },
    reset() {
      this.dataForm = {
        fileName: "",
        title: "",
        privacy: "Public",
        companycode: "",
        departmentcode: "",
        catalogue: "video",
        categorycode: "",
        timeStart: null,
        timeEnd: null
      };
      this.uploadSuccess = false;
    },
    resetSlider() {
      this.listVideo = [];
      this.connect = [true, true];
      this.pointStart = [0];
      this.visibleRemove = false;
    },
    async addPoint() {
      if(Number.isNaN(this.pointStart[0])) {
        this.$message({
          type: "warning",
          message: "Please move points then add new points.....!"
        });
        return false;
      }
      let timeCurrent = document.getElementById("vid_upload").currentTime;
      let newpoint = this.formatSeccondToPoint(timeCurrent)
      if(newpoint == 0) {
        this.$message({
          type: "warning",
          message: "New points please another 00:00:00,000...!"
        });
        return false;
      }
      this.visibleRemove = true;
      this.disabledCrop = false;
      // var last_element = this.pointStart[this.pointStart.length - 1] + 10;
      let checkPoint = this.checkItemInListPointStart(timeCurrent);
      if(!checkPoint) {
        this.pointStart.push(newpoint);
        this.connect.push(true);
        this.pointStart = this.pointStart.sort();
      } else {
        // check one point to not remove
        if(this.pointStart.length == 1 ) {
          this.visibleRemove = false;
        }
        this.$message({
          type: "warning",
          message: "Add point is duplicated.....!"
        });
        return false;
      }
      this.pointStart.sort(function(a, b) {
        return a - b;
      });
      await this.createSlider();
    },
    checkItemInListPointStart(item) {
      let strTime = this.convertSecondsToTime(item);
      let point = this.handleConvertTimeBar(strTime)
      let check = this.pointStart.includes(point);
      return check;
    },
    removePoint() {
      this.disabledCrop = false;
      var th = this;
      var list = this.pointStart;
      var connect = this.connect;
      var elRemove = this.pointRemove;
      // cut element need remove in array point start
      list.splice(list.indexOf(elRemove), 1);
      connect.pop();

      this.pointStart = list;
      this.connect = connect;

      // change array time point theo array point start
      this.arrTimePoint = this.pointStart.map(function(v) {
        return th.formatTooltip(v);
      });

      if (this.pointStart.length == 1) {
        this.visibleRemove = false;
      }

      this.createSlider();
    },

    async createSlider() {
      var th = this;

      var element = document.getElementById("slider-connect");
      element.remove();

      var para = document.createElement("div");
      para.id = "slider-connect";
      var element = document.getElementById("div1");
      element.appendChild(para);

      var slider = document.getElementById("slider-connect");
      await noUiSlider.create(slider, {
        start: this.pointStart,
        connect: this.connect,
        range: {
          min: 0,
          max: 100
        },

        format: {
          // 'to' the formatted value. Receives a number.
          to: function(value) {
            return value == 0 ? "00:00:00" : th.formatTooltip(value);
            // return value;
          },
          // 'from' the formatted value.
          // Receives a string, should return a number.
          from: function(value) {
            return Number(value.replace(",-", ""));
          }
        },
        tooltips: true
      });

      await slider.noUiSlider.on("end", function(values, handle) {
        th.disabledCrop = false;
        th.arrTimePoint = values;
        th.pointRemove = parseFloat(th.handleConvertTimeBar(values[handle]));
        th.pointStart = values.map(function(v) {
          return parseFloat(th.handleConvertTimeBar(v));
        });
      });

      await slider.noUiSlider.on("update", function(values, handle) {
        th.disabledCrop = false;
        th.arrTimePoint = values;
        th.pointRemove = parseFloat(th.handleConvertTimeBar(values[handle]));
        th.pointStart = values.map(function(v) {
          return parseFloat(th.handleConvertTimeBar(v));
        });
      });
    },
    handleConvertTimeBar(str) {
      var seconds = this.convertTimeToSeconds(str);
      var duration = document.getElementById("vid_upload").duration;
      return (seconds * 100) / duration;
    },
    async handleDownloadVideo() {
      try {
        this.uploading = true;
        // this.isCancelUpload = false;
        this.downloading = true;
        
        const key = uuid();

        const chunkSize = 500000;
        var totalPart = Math.ceil(this.selectedFile.size / chunkSize);
        // console.log("Total part: " + totalPart);
        // console.log("File size: " + this.selectedFile.size);

        for (let partIndex = 1; partIndex <= totalPart; partIndex++) {
          // if (this.isCancelUpload) {
          //   return;
          // }
          var startIndex = (partIndex - 1) * chunkSize;
          var endIndex = startIndex + chunkSize;
          if (endIndex >= this.selectedFile.size)
            endIndex = this.selectedFile.size - 1;
          const chunk = this.selectedFile.raw.slice(startIndex, endIndex);

          let timeStart = this.formDownload.timeStart.replace(",", ".");
          let timeEnd = this.formDownload.timeEnd.replace(",", ".");
          let formData = new FormData();
          formData.append("FILE", chunk);
          formData.append("KEY", key);
          formData.append("FILENAME", this.selectedFile.name);
          formData.append("PartIndex", partIndex);
          formData.append("TotalPart", totalPart);
          formData.append("TimeStart", timeStart);
          formData.append("TimeEnd", timeEnd);
          formData.append("Catalogue", this.formDownload.catalogue);

          var response = this.$axios.post(
            "pkvideos/download-video",
            formData,
            {
              headers: {
                "Content-Type": "multipart/form-data"
              },
              progress: false
            }
          );
          // JSON responses are automatically parsed.
          this.uploadPercentage = parseInt(
            ((100 * partIndex) / totalPart).toFixed(0)
          );
          var th = this;
          response.then(function(result) {
              // console.log(result)
              var linkDownload = result.data.Result.URL;
              if (linkDownload) {
                var linkdow = document.getElementById("downloadVideo");
                linkdow.href = linkDownload;
                linkdow.click();
                th.downloading = false;
                // console.log('success.....!')
              }
          });
        }
      } catch (error) {
        console.log(error);
      } finally {
        this.uploading = false;
        this.uploadPercentage = 0; // reset
      }
    },
    // format value default slider to time
    formatSlider(val) {
      let vid = document.getElementById("vid_upload");
      if (vid.duration) {
        let duration = vid.duration;
        let time_return = (val * duration) / 100;
        return this.convertSecondsToTime(time_return);
      }
      return "00:00:00,000";
    },
    // set current time video when move point red
    handleSlider(val) {
      let vid = document.getElementById("vid_upload");
      if (vid.duration) {
        let duration = vid.duration;
        let time_return = (val * duration) / 100;
        vid.currentTime = time_return;
      }
    },
    // convert time current of video to value default of slider
    convertTimeToSlider(val) {
      let vid = document.getElementById("vid_upload");
      if (vid.duration) {
        let duration = vid.duration;
        let pro = val * 100 / duration;
        return pro;
      }
      return 0;
    },
    // handleChangeCategory(event) {
    //   if(event.toUpperCase() == 'KAIZEN') {
    //     this.btnKaizen = false;
    //   } else {
    //     this.btnKaizen = true;
    //   }
      
    // },
    // closeModalKaizen() {
    //   this.visibleKaizen = false;
    //   this.listKaizenType = [];
    //   this.listKaizenLevel = [];
    //   this.listERCType = [];
    // },
    // openModalContentKaizen() {
    //   this.visibleKaizen = true;
    //   this.get13Sub();
    //   this.getOpGroup();
    //   this.getKaizen();
    // },
    // resetKaizentContent() {
    //   console.log("reset");
    // },
    // handleOkKaizen() {
    //   this.confirmInfo = true;
    // },
    // confirmKaizen() {
    //   this.confirmInfo = false;
    //   this.$message({
    //     message: 'Congrats, the contents are confirmed',
    //     type: 'success'
    //   });
    // },
    // cancelConfirmKaizen()  {
    //   this.confirmInfo = false;
    //   this.$message({
    //     message: 'You are cancel confirm',
    //     type: 'warning'
    //   });
    // },
    // async get13Sub() {
    //   try {
    //     var response = await this.$axios.get(`masterdatas/get13sub`);
    //     if(response.data && response.data.Result) {
    //       this.listSub = response.data.Result;
    //     }
    //   } catch (error) {}
      
    // },
    // async getOpGroup() {
    //   try {
    //     var response = await this.$axios.get(`masterdatas/getopgroup`);
    //     if(response.data && response.data.Result) {
    //       this.listOpGroup = response.data.Result;
    //     }
    //   } catch (error) {}
      
    // },
    // handleChangeOpGroup(event) {
    //   this.formData.opdetail = "";
    //   this.formData.opsubgroup = "";
    //   this.listOpDetail = [];
    //   this.listOpSubGroup = [];
    //   this.getOpDetail(event);
    // },
    // async getOpDetail(event) {
    //   if (!event) return;
    //   try {
    //     var response = await this.$axios.get(`masterdatas/getopdetail`, {
    //       params: { opnameid: event }
    //     });
        
    //     if(response.data && response.data.Result) {
    //       this.listOpDetail = response.data.Result;
    //     }
    //   } catch (error) {}
      
    // },
    // handleChangeOpDetail(event) {
    //   this.formData.opsubgroup = "";
    //   this.listOpSubGroup = [];
    //   this.getOpSubGroup(event);
    // },
    // async getOpSubGroup(event) {
    //   if (!event) return;
    //   try {
    //     var response = await this.$axios.get(`masterdatas/getopsubgroup`, {
    //       params: { opnameid: event }
    //     });
    //     console.log(response)
    //     if(response.data && response.data.Result) {
    //       this.listOpSubGroup = response.data.Result;
    //     }
    //   } catch (error) {}
    // },
    // async getKaizen() {
    //   try {
    //     var response = await this.$axios.get(`masterdatas/getkaizen`);
    //     if(response.data && response.data.Result) {
    //       response.data.Result.map((item) => {
    //         if(item.M_CODE == "KaizenType") {
    //           this.listKaizenType.push(item);
    //         } else if(item.M_CODE == "ECRType") {
    //           this.listERCType.push(item);
    //         } else {
    //           this.listKaizenLevel.push(item);
    //         }
    //       });
    //     }
        
    //   } catch (error) {}
      
    // },
  }
};
</script>

<style>
input[type="file"] {
  display: none;
}
.path-controll ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.path-controll ol li {
  display: inline;
  font-size: 12px;
  padding: 4px;
}
.el-tabs__item{
  color: #303133 !important;
}
i.el-icon-video-camera {
    font-size: 25px;
    padding-bottom: 1rem;
    color: #6094de
}
button.el-button.el-button--danger.el-button--small{
    background-color: #303133;
    border: none !important;
    width: 400px;
    height: 310px
}
/* .el-button--default {
    width: 54rem
} */
/* .el-button--warning{
  width: 54rem;
  background-color: #6094de;
  border: none
} */
.btn-upload-mn {
  background-color: #6094de;
  border: none;
  color: white;
}
.btn-upload-mn:hover {
  background-color: #8db8f5;
  color: white;
}
@media only screen and (max-width: 1660px){
  .upload-demo {
    margin-left: 0;
}
}
@media only screen and (max-width: 1400px){
  .upload-demo {
    margin-left: -4em;
}
}
@media only screen and (max-width: 992px){
  .upload-demo {
    margin-left: -7em;
}
}
@media only screen and (max-width: 768px){
  .upload-demo {
    margin-left: 2.5em;
}
}
@media only screen and (max-width: 576px){
  .upload-demo {
    margin-left: -4.5em;
}
}
@media only screen and (max-width: 480px){
  .upload-demo {
    margin-left: -8em;
}
}
</style>